



  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=7">
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<title>宝珑网质量承诺</title>
<meta content="钻戒定制，钻戒，钻石，戒指，红宝石，红宝石戒指，圣诞礼物，情侣对戒，对戒，彩色宝石，宝珑钻戒" name="keywords"/>
<meta content="宝珑钻戒，为顾客提供最好的钻戒定制产品，顾客通过对钻石、红宝石等彩色宝石的定制可以购买到时尚、流行的钻石戒指、红宝石戒指等彩色宝石首饰。购买结婚钻戒、红宝石戒指就选宝珑网。" name="description"/>
<link href="http://cj.bavlo.com/web/css/zone.css?version=1" rel="stylesheet" type="text/css" />
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?dda304f3818fe984ebd38ed897a78225";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<link href="/mobile_sample/static/src/css/header.css?version=40" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/tinybox.js"></script>
<script language="javascript" type="text/javascript" src="/mobile_sample/static/src/js/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="/mobile_sample/static/src/js/header.js?version=3"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery_cookie.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.validationEngine-zh_CN.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.validationEngine.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.form.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.lazyload.min.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/json.min.js"></script>
    <div id="header"><!-- // header-->
	<div class="status"  id="dingbu">
		<div class="li">
			<div class="diy_left">
				<ul>
					<li style="border-left:1px solid #000"  class="diy_sel"><a href="/index">珠易购</a></li>
					<!-- <li ><a href="../web/gemDefault.html">彩色宝石</a></li> -->
					<li ><a href="../web/designPic.html" >个性定制</a></li>
					<li ><a href="../web/designGem.html" >来石定制</a></li>
					<li ><a href="../web/picView.html" >我爱经典</a></li>
					<li style="display:none;" ><a href="../help/join_us.html" >招商加盟</a></li>
					<li ><a href="../web/fictitiousShow.html" >虚拟试戴</a></li>
				</ul>
			</div>
			<div class="right1">
				<div class="li01">
					
						<span>Hi,<a href="../account/myprofile.html">
			      		2438391125
			      		</a>
			      		</span>
						<span><a href="#" onclick="logout()">注销</a></span>
						<span><a href="../account/myorders.html">我的订单</a></span>
					
					
					<input type="hidden" id="userId" value="6515"/>
				</div>
				<!-- 浏览记录 -->
				<div class="set">
					<div class="li02" style="margin-left:-1px"  onmouseover="this.className='rt_menu1';s('set_sub');"  onmouseout="this.className='rt_menu';h('set_sub');"><a href="#" >浏览记录</a>
						<div class="img"  id="set_sub" style="display:none">
							<div class="rollBox">
								<div class="LeftBotton" onclick="hsPageTurning('left')"></div>
									<div class="Cont" id="ISL_Cont">
									<input type="hidden" id="historyChange" totalPage="1" indexPage="1"/>
										<div class="ScrCont">											
										</div>
									</div>
								<div class="RightBotton" onclick="hsPageTurning('right')"></div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- 收藏夹-->
				<div class="set">
					<div class="li03" id="collect" style="margin-left:-1px" onmouseover="this.className='rt_menu3';s('set_sub1');"  onmouseout="this.className='rt_menu2';h('set_sub1');"><a href="#" class="collection">收藏夹</a>
						<div class="shoucang" id="set_sub1" style="display:none">
							<div class="l_btn" onclick="pageTurning('left')"><img src="http://cj.bavlo.com/web/image/header/le.gif"  alt="left"/></div>
							<div class="c_cont">
								<input type="hidden" id="collectChange" totalPage="1" indexPage="1"/>
								<div class="c_cont1">
																		
								</div>
							</div>
							<div class="r_btn" onclick="pageTurning('right')"><img src="http://cj.bavlo.com/web/image/header/ri.gif"  alt="right"/></div>
						</div>
					</div>
				</div>			
				<!-- 购物车-->
				<div class="set" id="cartmenu" style="cursor: pointer;">
					<div class="li033" id="shoppingCart" style="margin-left:-1px"   onmouseover="this.className='rt_menu5';s('set_sub2');"  onmouseout="this.className='rt_menu4';h('set_sub2');">
						<a href="#"><font>购物车</font><em class="li_01" onclick="toPay()">去结帐</em></a>
						<div class="gouwu" id="set_sub2" style="display:none">
							<p style="color: #E3D1B6;text-align: center; font-size: 16px;">购物车中无商品</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="head">
		<div class="top">
			<h1 id="logo1"><a href="http://www.bavlo.com"><img src="http://cj.bavlo.com/web/image/header/logo.jpg"></a></h1>
			<div class="tel">				
				<h6>恭候致电 010-88866632</h6>
			    <div class="sear_ch">
				   <p><input class="sear_ch_input" type="text" onkeypress="enterSumbit()"  value="巴黎之吻"  id="search_str" maxlength="10" /><input class="sear_ch_sub" type="button" onclick="search_all()"  value="" /></p>
				</div>
			</div>
		<!--	<div style="white-space:nowrap;overflow:hidden;width:600px;float: right;margin-right: 25px;margin-top: 10px;height:30px;line-height:30px;">
				<div id="scrollobj"  style="float:right;white-space:nowrap;overflow:hidden;width:600px;margin:0 auto">
				<span style="color:#777;">公告：因春节期间放假，自今日起到2月28日所下订单，顺延至3月20日发货。敬请谅解！恭祝新年大吉！万事如意！宝珑公司
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</div> 
			</div>-->
		</div>
	</div>
	<ul class="nav">
		<li><a id="index" href="http://www.bavlo.com/" >主页</a></li>
		<li><a href="../web/diamondSearch.html" style="letter-spacing: 1px;">钻石</a></li>
		
			<li id="Ring">
			<a href="../web/Ring_view.html" 
			 	
			>戒指</a>
			</li>
		
			<li id="Necklace">
			<a href="../web/Necklace_view.html" 
			 	
			>颈饰</a>
			</li>
		
			<li id="Earring">
			<a href="../web/Earring_view.html" 
			 	
			>耳饰</a>
			</li>
		
			<li id="Wristlet">
			<a href="../web/Wristlet_view.html" 
			 	
			>腕饰</a>
			</li>
		
			<li id="Constellation">
			<a href="../web/Constellation_view.html" 
			 	
			>星座</a>
			</li>
		
			<li id="loversJewelry">
			<a href="../web/loversJewelry_view.html" 
			 	
			>情侣</a>
			</li>
		
			<li id="JewelrySet">
			<a href="../web/JewelrySet_view.html" 
			 	
			>套装</a>
			</li>
				
		<li><a href="../help/loveStroy.html" style="letter-spacing: 1px;">真爱故事</a></li>	
	</ul>
		  
</div>
<div id="base_content_folw" style="display:none;">
	<div class="body">
		<ul>
			<li><a href="/products">情侣对戒</a></li>

			<li><a href="#">指纹戒指</a></li>
		</ul>
	</div>
</div>



	<div class="center1">  <!--  center  -->	
	<h4><a href="http://www.bavlo.com/" id="index">首页</a> &nbsp;  &gt;  &nbsp; <a href="List_26.html">珠宝知识与资讯</a>&nbsp;  &gt;  &nbsp;宝珑网动态</h4>	
	<!-- ../web/weixin.html -->
	<a href="javascript:void(0)" target="_blank"><img src="http://img.bavlo.com/PsImage/activityBanner/weixin.jpg" alt="weixin"  width="1000px" height="124px" style="border-bottom:solid 1px black;border-top:solid 1px black;"/></a>
	<div class="d_block">
		<div class="left w_783">
			<h3>宝珑网质量承诺</h3>
			<h5><span>时间：2012-05-22</span><span>来源：宝珑网</span></h5>
			<p>
			<p>
	宝珑产品工艺质量描述及检验（鉴定）标准：
</p>
<p style="text-align:center;">
	<img src="http://img.bavlo.com/NewsImage/20120522115315_665.png" width="538" height="300" title="宝珑网产品工艺质量检验标准" alt="宝珑网产品工艺质量检验标准" /> 
</p>
<p>
	说明：
</p>
<p>
	1 宝珑网是<a href="http://www.bavlo.com" target="_blank">珠宝定制</a>平台，由客户确定个性化需求。因此，产品产生质量问题是<a href="http://www.bavlo.com/help/returned_goods.html" target="_blank">退换货</a>的唯一理由。
</p>
<p>
	2 宝珑网保留所有订单细目和原版三维数据，发送客户备案，为甄别质量缺陷和外力至损提供依据（如掉石、变形等）。
</p>
<p>
	3 对产品质量问题产生争议的，由法定检测（鉴定）机构进行认定。
</p>
<p>
	4 客户可以到国内省级以上珠宝检验（鉴定）机构进行复检，与宝珑提供的证书有不符之处，我们将负责核实并免费解决。
</p>
<p>
	5 产品在保修期内出现质量问题，宝珑网将进行免费维修（免运费），二次维修后仍然存在质量问题的，客户有权退货。
</p>
<p>
	6 产品在保修期外出现质量问题，宝珑网将免工费维修。
</p>
			</p>
			<div class="share_1" >
				<!-- Baidu Button BEGIN -->
    				<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
       				 <span class="bds_more">分享到：</span>
       				 <a class="bds_qzone"></a>
        			 <a class="bds_tsina"></a>
        			 <a class="bds_tqq"></a>
        			 <a class="bds_renren"></a>
		  			 <a class="shareCount"></a>
    				</div>
<script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
	document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>
<!-- Baidu Button END -->
			</div>
			
			
			<h6>相关文章&nbsp;  &gt;  &nbsp; </h6>
			<ul>
				
				<li><font><a href="Article_166.html" target="_blank">宝珑网三维珠宝定制，首饰戴出个性化</a></font><span>2012-05-10</span></li>
				
				<li><font><a href="Article_474.html" target="_blank">宝珑网珠宝首饰的生产流程</a></font><span>2012-05-17</span></li>
				
				<li><font><a href="Article_542.html" target="_blank">贵金属外观怎么判定好坏？</a></font><span>2012-05-21</span></li>
				
				<li><font><a href="Article_546.html" target="_blank">看懂珠宝的印记</a></font><span>2012-05-21</span></li>
				
			</ul>
			
			
		</div>
		
		
		<div class="right w_212 m_t_10">
			<span style="color:#8c0000;">款式随意秀</span>
			<ul></ul>
			
				
				<span>
					<a href="../web/detail_1133.html" target="_blank"><img class="imgs" src="http://cj.bavlo.com/web/image01/big.gif" data-original="http://stylepics.bavlo.com/NewStylePic/Ring/1133/RightFront/1133_289_S925_290_Aquamarine_1945.png!mid" width="180" height="150" title="纤细的戒臂、憨态可掬的星座符号，把柔美和好运紧密结合在一起；宝石点睛，带来星座神秘的呵护力量，如福星高照，祝福人生顺遂吉祥。天秤座(9.24—10.23)的星座幸运石是祖母绿、欧泊和粉碧玺。将这些华贵的宝石镶嵌在戒指上，不仅更美丽高贵，还能加强福星的力量——宝，定做专属你的福星戒指吧。" alt="福星•天秤座"/></a>
				</span>
				<span class="span"><a href="../web/detail_1133.html" target="_blank" style="margin-top: 5px;">福星•天秤座<br/>￥599元</a></span>
	            <ul></ul>
			
				
				<span>
					<a href="../web/detail_2908.html" target="_blank"><img class="imgs" src="http://cj.bavlo.com/web/image01/big.gif" data-original="http://stylepics.bavlo.com/NewStylePic/Ring/2908/RightFront/2908_4497_S925_4498_Aquamarine_1969.png!mid" width="180" height="150" title="宝石代表你，四颗心是我，（四颗）时刻都有我在用心呵护" alt="用心呵护"/></a>
				</span>
				<span class="span"><a href="../web/detail_2908.html" target="_blank" style="margin-top: 5px;">用心呵护<br/>￥659元</a></span>
	            <ul></ul>
			
				
				<span>
					<a href="../web/detail_2408.html" target="_blank"><img class="imgs" src="http://cj.bavlo.com/web/image01/big.gif" data-original="http://stylepics.bavlo.com/NewStylePic/Necklace/2408/Front/2408_3255_S925_3251_Y18K_3254_Aquamarine_1945_3253_Amethyst_669_3252_Tourmaline_2725_83_Chopin.png!mid" width="180" height="150" title="六在汉语文化中意味着六六大顺，是顺利圆满的象征。由六朵花瓣组成的图案，正代表着人生如意、幸福常乐，生活像花儿一样芳香迷人、甜蜜温馨。精巧的设计，适合各种场合佩戴，颇有女人味和幸福感。选不同的金属和宝石，便可DIY你独有的幸福人生——宝，开始设计了。" alt="幸福人生"/></a>
				</span>
				<span class="span"><a href="../web/detail_2408.html" target="_blank" style="margin-top: 5px;">幸福人生<br/>￥1599元</a></span>
	            <ul></ul>
			
				
				<span>
					<a href="../web/detail_2739.html" target="_blank"><img class="imgs" src="http://cj.bavlo.com/web/image01/big.gif" data-original="http://stylepics.bavlo.com/NewStylePic/EarStud/2739/Front/2739_4104_S925.png!mid" width="180" height="150" title="饱鼓鼓的苹果，如此形象，令人心生欢喜；小巧的叶片给添风采，精神抖擞着，朝气蓬勃。佩戴在耳边，靓丽而富有生活乐趣。选择不同颜色的金属，可以DIY出个性专属你的金苹果——宝，开始定制了。" alt="金苹果"/></a>
				</span>
				<span class="span"><a href="../web/detail_2739.html" target="_blank" style="margin-top: 5px;">金苹果<br/>￥609元</a></span>
	            <ul></ul>
			
				
				<span>
					<a href="../web/detail_3065.html" target="_blank"><img class="imgs" src="http://cj.bavlo.com/web/image01/big.gif" data-original="http://stylepics.bavlo.com/NewStylePic/Ring/3065/RightFront/3065_4820_S925_4821_Amethyst_697.png!mid" width="180" height="150" title="心形的戒托述说着爱与被爱的温馨、美好。宝石被托举着，散发出傲人的光彩，演绎着爱情至上，真情永恒的魅力。" alt="爱情至上"/></a>
				</span>
				<span class="span"><a href="../web/detail_3065.html" target="_blank" style="margin-top: 5px;">爱情至上<br/>￥619元</a></span>
	            
			
		</div>
	</div>
</div>  <!--  //  center  -->

<div id="footer">
	<div class="guide">
		<ul class="g_1">
			<li><img src="http://cj.bavlo.com/web/image01/footer/a1.jpg" width="175px" height="38px" alt="国土资源部珠宝玉石首饰管理中心"/></li>
			<li><img src="http://cj.bavlo.com/web/image01/footer/a2.jpg" width="145px" height="38px" alt="快递无忧，全程保险保障"/></li>
			<li><img src="http://cj.bavlo.com/web/image01/footer/a3.jpg" width="145px" height="38px" alt="30天无障碍退换货"/></li>
			<li><img src="http://cj.bavlo.com/web/image01/footer/a4.jpg" width="108px" height="38px" alt="终身免费售后服务"/></li>
			<li class="phone"><img src="http://cj.bavlo.com/web/image01/footer/a5.jpg" width="195px" height="38px" alt="订购热线"/></li>
		</ul>
		<ul class="g_2">
			<li>
				<label>新手指南</label>
				<span><a href="../help/3d_jewelry.html" target="_blank">玩转3D珠宝定制</a></span>
				<span><a href="../help/ringsize.html" target="_blank">如何确定手寸？</a></span>
				<span><a href="../Education/Article_266.html" target="_blank">彩色宝石挑选技巧</a></span>
			</li>
			
			<li>
				<label>支付与配送</label>
				<span><a href="../help/payment.html" target="_blank">支付方式</a></span>
				<span><a href="../help/delivery.html" target="_blank">配送方式</a></span>
			</li>
			
			<li>
				<label>售后服务</label>
				<span><a href="../help/returned_goods.html" target="_blank">退换货政策</a></span>
				<span><a href="../help/after_service.html" target="_blank">售后服务内容</a></span>
			</li>
			
			<li>
				<label>质量与信誉</label>
				<span><a href="../Education/Article_586.html" target="_blank">质量承诺</a></span>
				<span><a href="../Education/Article_594.html" target="_blank">质量规范</a></span>
				<span><a href="../Education/Article_590.html" target="_blank">宝珑网资质与信誉</a></span>
			</li>
			
			<li>
				<label>客服中心</label>
				<span><a href="../help/shopping_guide.html" target="_blank">购物流程</a></span>
				<span><a href="../help/faq.html" target="_blank">常见问题</a></span>
				<span><a href="../help/contact.html" target="_blank">客服联系方式</a></span>
			</li>
			
			<li>
				<label>新闻中心</label>
				<span><a href="../Education/Article_282.html" target="_blank">揭秘红宝石</a></span>
				<span><a href="../Education/Article_270.html" target="_blank">投资彩色宝石</a></span>
				<span><a href="../Education/Article_234.html" target="_blank">珠宝定制须知</a></span>
			</li>
			
		</ul>
	</div>
	
	<div class="foot">
		<p class="b_r_t">
			<a href="../help/about_bavlo.html" target="_blank">关于宝珑网</a>|
			<a href="../help/privacy_policy.html" target="_blank">隐私条款</a>|
			<a href="../help/copyright.html" target="_blank">版权声明</a>|
			<a href="../help/disclaimer.html" target="_blank">免责声明</a>|
			<a href="../help/join_us.html" target="_blank">经销招商</a>|
			<a href="../help/friend_link.html" target="_blank">友情链接</a>|
			<a href="../help/3d_jewelry.html" target="_blank">帮助中心</a>|
			<a href="http://www.miitbeian.gov.cn" rel="nofollow" target="_blank">京ICP备11048465号</a>|
			<a href="#" rel="nofollow" target="_blank">京公网安备11010802013386号</a>|
			<a href="../sitemap.xml" target="_blank">网站地图</a>
		</p>
		<p>Copyright © 2010-2017 bavlo Jewelry Design Studio All Right Reserved.</p>
	</div>
</div>
<div id="toolbar_container">
   <div class="kefu">
	   <div class="kefu1">
		   <div class="back"></div>
	   </div>
   </div>
</div>

<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery-1.6.min.js"></script>	
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.lazyload.min.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery_cookie.js"></script>

<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/kefu.js?version=7"></script>
<script type="text/javascript">
$(function(){
	$(".imgs").lazyload({
    	effect : "fadeIn",
    	even   : "unload",
    	load :function(){
    		$(this).removeClass('imgs');
    		$(this).addClass('lazyLoadImage');
    	}
	});
});
</script>
</body>
</html>
