.box .s{
            width: 0;
            height: 0;
            border-color: transparent transparent rgba(254, 90, 9, 0) transparent;
            border-style: dashed dashed solid dashed;
            border-width: 10px;
            position: absolute;
            transform: scaleY(-1);
            bottom: -16px;
            left: 43%;
            opacity: 0.8;
        }
        .box .s .i{
            width: 0;
            height: 0;
            border-color: transparent transparent #fff transparent;
            border-style: dashed dashed solid dashed;
            border-width: 8px;
            position: absolute;
            top: -7px;
            left: -8px;
            opacity: 0.8;
        }



.vux-header {
  position: relative;
  padding: 3px 0;
  box-sizing: border-box;
  background-color: @x-header-background-color;
}
.vux-header .vux-header-title,.vux-header h1 {
  margin: 0 88px;
  margin-left: 100px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: @x-header-title-color;
}
.vux-header .vux-header-title > span {
  display: inline-block;
}
.vux-header .vux-header-left,.vux-header .vux-header-right {
  position: absolute;
  top: 14px;
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: @x-header-text-color;
}
.vux-header .vux-header-left a,.vux-header .vux-header-left button,.vux-header .vux-header-right a,.vux-header .vux-header-right button {
  float: left;
  margin-right: 8px;
  color: @x-header-text-color;
}
.vux-header .vux-header-left a:active,.vux-header .vux-header-left button:active,.vux-header .vux-header-right a:active,.vux-header .vux-header-right button:active {
  opacity: .5
}
.vux-header .vux-header-left {
  left: 18px
}
.vux-header .vux-header-left .vux-header-back {
  padding-left: 16px
}
.vux-header .vux-header-left .vux-header-back:before {
  content: "";
  position: absolute;
  display: block;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid @x-header-arrow-color;
  border-width: 1px 0 0 1px;
  margin-left: 3px;
  margin-top: 1px;
  transform: rotate(315deg)
}
.vux-header .vux-header-right {
  right: 15px
}
.vux-header .vux-header-right a,.vux-header .vux-header-right button {
  margin-left: 8px;
  margin-right: 0
}
.vux-header .vux-header-right .vux-header-more:after {
  content: "\2022\0020\2022\0020\2022\0020";
  font-size: 16px;
}
.vux-header-fade-in-right-enter {
  animation: fadeinR .5s;
}
.vux-header-fade-in-left-enter {
  animation: fadeinL .5s;
}
@keyframes fadeinR{
  0%{opacity:0;transform:translateX(80px);}
  100%{opacity:1;transform:translateX(0);}
}
@keyframes fadeinL{
  0%{opacity:0;transform:translateX(-80px);}
  100%{opacity:1;transform:translateX(0);}
}

.infoTip{
    float: left;
    position: relative;
    margin-left: 2%;
    bottom: -9%;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#fff));
    border-radius: 5px;
    display: flex;
    opacity: 0.7;
    padding: 10px 20px;
}

.infoTip p{
    display: block;
    clear: both;
}
.previewAll{

    float: left;
    position: relative;
    left: 40%;
    bottom: 85%;
    background: rgba(1, 9, 5, 0.67);
    color: #fff;
    border-radius: 7px;
    /*box-shadow: 0 5px #3a779e;*/
    padding: 25px 60px 25px 60px;

    display: flex;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;

}

