<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/jquery-1.8.2.min.js"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/viewport.js?r100015"></script>
<meta name="applicable-device"content="mobile">
<meta property="qc:admins" content="20503277476221246375" />
<meta property="wb:webmaster" content="bd774911ab21223f"/>
<meta name="baidu-site-verification" content="BRpug9CWDi" />
<meta name="ROBOTS" content="ALL" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="baidu-site-verification" content="Jx57k6UVXC" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<link href="https://m.zbird.com/favicon.ico" type="image/x-icon" rel="shortcut icon" />
<script>
// for ntalker
NTKF_PARAM = {
  siteid:"kf_9910",
  settingid: "kf_9910_1353159430540",
  itemid: "",
  uid:"",
  uname:""
};
$(function(){
	//跳转适配
	$("head").append('<link rel="canonical" href="http://www.zbird.com/'+ window.location.pathname.substr(1) +'">');
});


</script>
<link rel="stylesheet" type="text/css" media="screen" href="https://m.zbird.com/css/j.suggest.css?r100015" />
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/j.bfbd.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/j.scrollto.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/j.scrollshow.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/cookie.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/swf.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/base64.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/j.suggest.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/j.validate.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/cookie-help.js?r100015"></script>




<script type="text/javascript">
    var g_baseUrls = ({
      resImg: 'https://m.zbird.com/images/',
      resCss: 'https://m.zbird.com/css/',
      resJs: 'https://m.zbird.com/js/',
      res: 'https://m.zbird.com/'
    });
</script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/common.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/j.validateext.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/j.mobilechecknew.js?r100015"></script>
 <link rel="stylesheet" type="text/css" href="https://m.zbird.com/css/publicmoblie.css?r100015" />

<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/publicmoblie.js?r100015"></script>
<!-- <script type="text/javascript" name="baidu-tc-cerfication" data-appid="4949261" src="https://apps.bdimg.com/cloudaapi/lightapp.js"></script> -->

<script>
var _hmt = _hmt || [];
var _gaq = _gaq || [];
</script>
</head>

<body onload="">
<script src="//dl.ntalker.com/js/xn6/ntkfstat.js?siteid=kf_9910" charset="utf-8"></script>


<div id="error_opa" style="display: none"></div>
  <div id="error_info" style="display: none"><span><em></em></span></div>


<section class="layout" id="scene">
 <div class="pubfull_ldg"><i></i></div>
    <!-- 有logo的标题头 -->

   <!-- 有logo的标题头 end -->
   <!-- 搜索 -->

    <!-- 搜索end -->
    <!-- 有结果的搜索页面 -->
    <dl class="f_sech_txt u_trans_ami" style="display:none">
      <dt><span class="u_btn_highser">高级筛选</span><span class="f_sech_tips">符合“克拉”的钻戒搜索结果29</span></dt>
      <dd><a href="javascript:;">钻戒<i>5</i></a><a href="javacript:;">对戒<i>5</i></a><a href="javacript:;">配饰<i>5</i></a></dd>
    </dl>
    <!-- 有结果的搜索页面 end -->



<link rel="stylesheet" type="text/css" href="https://m.zbird.com/css/site/plugin/swiper-3.3.1.min.css" />
<link rel="stylesheet" type="text/css" href="https://m.zbird.com/css/site/pnewlist.css" />

<div class="shade_opacity" style="display:none;"></div>

<div id="error_opa" style="display: none"></div>
<div id="error_info" style="display: none"><span><em></em></span></div>
<div class="u_kv_lnk u_trans_ami">


</div>

<div class="dia_ser_txt u_trans_ami" >
	<span><a href="/accessory/"><em>现货速发</em></a></span>
	<i></i>
	<span class="on"><em>优选随心</em></span>
</div>
<div class="fix_order_tp u_trans_ami deep_bg">
	<div class="fix_order">
		<a href="javascript:;" class="ord_a_salevlm on" rel='10' val='2'>默认</a>
		<a href="javascript:;" class="ord_a_pri" rel='10' val='6'>价格<i class=""></i></a>
		<a href="javascript:;" class="ord_a_flft">筛选<i></i></a><span class="u_shw_pic" id="u_shw_clk"></span></div>
	<div class="g_flft_lst" style="display:none">
		<div class="g_flft_lst_ov">
			<dl class="g_flft_dl">
				<dt>材质</dt>
				<dd><a href="javascript:;" rel='4' val='1'>铂金900</a><a href="javascript:;" rel='4' val='2'>18k金</a><a href="javascript:;" rel='4' val='3'>铂950-红18K</a></dd>
			</dl>
			<dl class="g_flft_dl">
				<dt>价格</dt>
				<dd><a href="javascript:;" rel='6' val='1'>3000以下</a><a href="javascript:;" rel='6' val='2'>3000-6000</a><a href="javascript:;" rel='6' val='3'>6000-10000</a><a href="javascript:;" rel='6' val='4'>10000-20000</a><a href="javascript:;" rel='6' val='5'>20000以上</a></dd>
			</dl>
		</div>
        <input type="hidden" value="1" id='page' />
		<input type='hidden' value='11' id='totalpage'/>
		<a href="javascript:;" class="btn_flft" id='search_button'>确定</a>
	</div>
</div>
<div class="f_pro_lst_wp u_trans_ami" id="g_change_pic">
			<figure class="f_pro_lst">
		<a href="#">
		<div class="f_pro_img">
			<img src="https://img.zbird.cn/picdb/176/83/17683_204_.jpg" >
		</div>
		<figcaption class="f_pro_cnt">
			<!--  -->
			<h4>小鹿斑比</h4>
			<div class="f_pro_pri">
				<b><i>￥</i>810</b>
			</div>
			<div class="f_pro_txt"><span>销量<i>4020</i></span><span>评价<i>62</i></span></div>
		</figcaption>
		</a>
	</figure>

		<figure class="f_pro_lst">
		<a href="#">
		<div class="f_pro_img">
			<img src="https://img.zbird.cn/picdb/214/18/21418_304_.jpg" >
		</div>
		<figcaption class="f_pro_cnt">
			<!--  -->
			<h4>心叶情</h4>
			<div class="f_pro_pri">
				<b><i>￥</i>799</b>
			</div>
			<div class="f_pro_txt"><span>销量<i>3052</i></span><span>评价<i>13</i></span></div>
		</figcaption>
		</a>
	</figure>


		</a>
	</figure>

	    </div>
<img id="loading" src="/images/ww3/moblie/publicmoblie/loading.gif" width=30 height=30 style="margin:0 auto;display:block;visibility:hidden" />
<script>
var searchCondition = eval('["0","0","2","1"]');
var cate = 'accessory';
</script>
<script type="text/javascript" src="https://m.zbird.com/js/plugin/swiper-3.3.1.jquery.min.js"></script>
<script type="text/javascript" src="https://m.zbird.com/js/finishedproduct.js"></script>


<script type="text/javascript">
 $(document).ready(function(){
    var swiper = new Swiper('#diamr_lst_focus', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay:3000,
        speed:3000,
        loop:true,
        effect : 'fade'
    });
  });
</script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
var wx_title = document.title;
//wx.config预留
wx.config({
  debug: false,
  appId: 'wx7236f94b65c012db',
  timestamp: 1520534604,
  nonceStr: 'zb1rd',
  signature: '8b0c9e9607bb1484d6af39022f39838f23ea2000',
  jsApiList: [
  	'onMenuShareAppMessage',
  	'onMenuShareTimeline'
  ]
});
</script>
<script type="text/javascript">
wx.ready(function () {
	 wx.checkJsApi({
      jsApiList: [
        'onMenuShareAppMessage',
        'onMenuShareTimeline'
      ],
      success: function (res) {
      }
    });
	// 分享给朋友
	wx.onMenuShareAppMessage({
	    title: 'zbird', // 分享标题
	    desc: wx_title, // 分享描述
	    link: window.location.href, // 分享链接
	    imgUrl: "https://m.zbird.com/images/ww3/moblie/add/200x200.jpg", // 分享图标
	    type: '', // 分享类型,music、video或link，不填默认为link
	    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
	    success: function () {
	        // 用户确认分享后执行的回调函数
	        // window.location.href = g_baseUrls.res+'huodong/zuanshima';
	    },
	    cancel: function () {
	        // 用户取消分享后执行的回调函数
	    }
	});

	// 分享到朋友圈
	wx.onMenuShareTimeline({
	    title: wx_title, // 分享标题
	    link: window.location.href, // 分享链接
	    imgUrl: "https://m.zbird.com/images/ww3/moblie/add/200x200.jpg", // 分享图标
	    success: function () {
	        // 用户确认分享后执行的回调函数
	        // window.location.href = g_baseUrls.res+'huodong/zuanshima';
	    },
	    cancel: function () {
	        // 用户取消分享后执行的回调函数
	    }
	});
});

wx.error(function (res) {
  // alert(res.errMsg);
});
</script>



  <a href="javascript:;" id="totop" class="back_top"><img src="https://m.zbird.com/images/ww3/moblie/publicmoblie/back_top.png" width="100%"  /></a>
</section>

<!-- 新增产品搜索 -->
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/pro-search.js?r100015"></script>
<!-- 新增产品搜索end -->
<!-- 新增门店滚动 -->
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/plugin/jquery.liMarquee.js?r100015"></script>
<!-- 新增门店滚动end -->
<script type="text/javascript">
//获取购物车商品数量
cartcount();
function cartcount(){
    $.ajax({
        url : '/car/ajaxcount',
        type : 'post',
        cache : false,
        dataType : 'json',
        data :  {},
        success : function(res)
        {
            if(200 == res.code){
                if (res.carts_count > 0) {
                	$(".shop_car_i").removeAttr("style");
					$(".fix_car_i").html(res.carts_count);
                	if ($(".fix_car_i")) {
                		$(".fix_car_i").removeAttr("style");
                	}
                    return false;
                } else {
                	$(".shop_car_i").attr("style","display:none");
                	if ($(".fix_car_i")) {
                		$(".fix_car_i").attr("style","display:none");
                	}
                	return false;
                }
            }
        }
    });
}
</script>
<!-- <script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/loadimage.js"></script> -->

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7860f8e8062dd334d826a6052a7448d7' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- Baidu统计代码 -->
<script>
(function() {
   var REQUEST_PATH = '/virtual/preconsult';
   var GET_ITEMS = function() {
        return[
            document.getElementById('BDBridgeIconWrap'),
            document.getElementById('BDBridgeInviteWrap')
        ];
};
   window._hmt = window._hmt || [];
   var on = function (elem, event, handler) {
        if(elem.addEventListener) {
            elem.addEventListener(event,handler, false);
        } else if(elem.attachEvent) {
            elem.attachEvent('on'+ event, handler);
        }
};
   var track = function(item, i) {
        on(item, 'mouseup', function() {
            window._hmt.push(['_trackPageview', REQUEST_PATH + i]);
        });
   };
   on(window, 'load', function() {
        var items = GET_ITEMS();
        for(var i = items.length - 1; i >= 0; i--) {
            items[i] && track(items[i],i + 1);
        }
   });
})();
</script>

<!-- GA统计代码（目前使用） -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97277-20', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
$(document).ready(function() {
    var bgindex=0;
       function indeximg(){
	       if ($('.index_img1').is(':hidden')) {
	       	$('.index_img1').fadeIn(1000);
	       }else if($('.index_img1').is(':visible')){
	       	$('.index_img1').fadeOut(1000);
	       }
       }

        var bg6timer=setInterval(indeximg,5000);

  //底部文字跑马灯
		$('.str5').liMarquee({
			drag: false	,
			scrollamount:20
		});
  //文字提示轮播
   $(".u_ser_btn").click(function(){
	   var keyword=$("#ser_txt_ipt").val();
	   if(keyword.length<1)
	   {
		   $('#error_info').find('em').text("请输入搜索关键字");
       $('#error_opa,#error_info').show(0,timeout);
		   return ;
	   }
	   //location.href='http://m2.bridd.com/search/?nm='+keyword;
	  location.href=$.trim()+'/search/?nm='+keyword;
    $("#ser_txt_ipt").val("");
   });
   if(getCookie('zbird_notice_line'))
   {
	    $('.hide_idxtips').hide();
   }else{
		  $('.hide_idxtips').show();
   };
   $('.hide_idxtips').click(function(){
	  var time = new Date();
	  time.setTime(time.getTime()+24*60*60*1000);
      SetCookie('zbird_notice_line', 1, time, '/');
	  $(this).hide();
    });
});
</script>
<script type="text/javascript" defer >
$(document).ready(function() {

  //文字提示轮播
  if ($('.hide_idxtips').is(':visible')) {
    var scroll_txt=$('.hide_idxtips_txt a').width();
    var scroll_ftct=$('.hide_idxtips_txt').width();
   if (scroll_txt-scroll_ftct>0) {
      $('.hide_idxtips_txt a').addClass('on');
      //滚动
      //$('.hide_idxtips_txt a').animate({'margin-left':-(scroll_txt-scroll_ftct)+'px'});
    }else{
       $('.hide_idxtips_txt a').removeClass('on');
    }
  }

    });
</script>

<!-- 咨询弹出提示 -->
<script>
  $(document).ready(function(){

    function runNotice(line1, line2, time, key)
    {

      if(getMyCookie(key) != 'true'){
        setTimeout(function (){
          showNotice(line1, line2)
        }, time * 1000);

        setTimeout(function (){
          hideNotice()
        }, time * 1000 + 8000);

        $(document).mouseup(function(e){
          var _con = $('#txt_pack');   // 设置目标区域
          if(!_con.is(e.target) && _con.has(e.target).length === 0){ // Mark 1
            hideNotice()
          }
        });
      }
    }

    function showNotice(line1, line2)
    {
      setMyCookie(key, 'true', 'd1');
      $('#txt_pack > a > i').text(line1);
      $('#txt_pack > a > em > i').text(line2);
      $('#txt_pack').addClass('on');
    }

    function hideNotice()
    {
      $('#txt_pack').removeClass('on');
    }


  })

  //设置cookie
  //s20是代表20秒
  //h是指小时，如12小时则是：h12
  //d是天数，30天则：d30
  function setMyCookie(name, value, time)
  {
      var strsec = getMySec(time);
      var exp = new Date();
      exp.setTime(exp.getTime() + strsec*1);
      document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
  }

  //读取cookies
  function getMyCookie(name)
  {
      var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");

      if(arr=document.cookie.match(reg)){
          return unescape(arr[2]);
      }else {
          return null;
      }
  }


  function getMySec(str)
  {
     var str1=str.substring(1,str.length)*1;
     var str2=str.substring(0,1);
     if (str2=="s"){
          return str1*1000;
     }else if (str2=="h"){
         return str1*60*60*1000;
     }else if (str2=="d"){
         return str1*24*60*60*1000;
     }
  }

</script>

</body>
</html>
