





	<div class="list_all">
		<p>
			<select id="orderType">
				<option value="priceDESC" >按价格从高到低排序</option>
				<option value="priceASC" >按价格从低到高排序</option>
				<option value="createDate" selected="selected">按上架时间排序</option>
		<!-- 	<option value="click" >按点击率从高到低排序</option>-->
				<option value="sales" >按销量从高到低排序</option> 	
			</select>
			<select style="width: 150px" id="productsTotal">
				<option value="12" >每页显示12个</option>
				<option value="24" >每页显示24个</option>
				<option value="36" selected="selected">每页显示36个</option>
				<option value="48" >每页显示48个</option>
			</select> 
			找到<b>8</b>个宝贝
		</p>
		<div class="page1">
			<span onclick="goPage(0)">
				<a href="javascript:void(0)"><</a>
			</span> 			
			 &nbsp;&nbsp;1 / 1 页&nbsp;	
			<span onclick="goPage(2)">
				<a href="javascript:void(0)">></a>
			</span>
		</div>

	</div>
		<!--产品展示-->
	<div class="products_show" >
					
			<!-- 普通款式 -->
			
				
				
					<ul styleId="82267">
				
				
						<li class="products_img"><a href="/productdetail" target="_blank"><img class="loadingStyleImgs" id="image" src="http://cj.bavlo.com/web/image01/big.gif" data-original="http://stylepics.bavlo.com/NewStylePic/Eardrop/82267/Front/82267_12212_S925_12210_Topaz_2201_12211_Topaz_3161.png!mid" alt="" width="240" height="200"/></a></li>
						<li class="products_price" id="products_price82267" ><span class="xing" styleId="82267" price="989.00" styleName="" picUrl="Eardrop/82267/Front/82267_12212_S925_12210_Topaz_2201_12211_Topaz_3161.png"></span><font></font></li>
					</ul>
			

			
		
	</div>
	<!-- 页签 -->
	
<div class="clear"></div>

<script type="text/javascript">
    function goPage(i){
    	if(i<1||i>1){return;};
    	params.pageIndex=i;
    	loadProduct();
    	window.scrollTo(0,0);
    }
    $(function(){
    	$(".products_price span").bind("mouseover",xingMouseOver);
    	$(".products_price span").bind("mouseout",xingMouseOut);
    	$(".products_price span").bind("click",addStyleCollect);   
    	$("#productsTotal").change(function(){
    		params.productsTotal=$(this).val();
    		loadProduct();
    	})
    	$("#orderType").change(function(){
    		params.orderType=$(this).val();
    		loadProduct();
    	})
    	$(".loadingStyleImgs").lazyload({
        	effect : "fadeIn",
        	load :function(){
        		$(this).removeClass('loadingStyleImgs');
        		$(this).addClass('lazyLoadImage');
        	}
    	});
    	$('.products_show ul').each(function(){
    		var id = $(this).attr('styleid');
    		var scCookie = $.cookie('scData');
    		var scData = {
    				count : 0,
    				scRecords : []
    			};
			if (scCookie != null) {
				scData = $.parseJSON(scCookie);
			}
			for ( var i = 0; i < scData.scRecords.length; i++) {
				var _id = scData.scRecords[i].id;
				if (id == _id) {				
					$(this).find('li:last span').show();
					$(this).find('li:last span').attr('class','xing_hover');
					$(this).find('li:last span').attr('title','取消收藏');
					$(this).find('li:last span').unbind('mouseover mouseout');
					break;
				}
			}
    	});
    	$('.products_show ul').hover(function(){
    		$(this).find('li:last span').show();
    	},function(){
    		if(!$(this).find('li:last span').hasClass('xing_hover')){
    			$(this).find('li:last span').hide();
    		}
    	});    	   	 		
    });   
</script>
