
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/jquery-1.8.2.min.js"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/viewport.js?r100015"></script>
<meta name="applicable-device"content="mobile">
<meta property="qc:admins" content="20503277476221246375" />
<meta property="wb:webmaster" content="bd774911ab21223f"/>
<meta name="baidu-site-verification" content="BRpug9CWDi" />
<meta name="ROBOTS" content="ALL" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="baidu-site-verification" content="Jx57k6UVXC" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<link href="https://m.zbird.com/favicon.ico" type="image/x-icon" rel="shortcut icon" />
<script>
// for ntalker
NTKF_PARAM = {
  siteid:"kf_9910",
  settingid: "kf_9910_1353159430540",
  itemid: "",
  uid:"",
  uname:""
};
$(function(){
	//跳转适配
	$("head").append('<link rel="canonical" href="http://www.zbird.com/'+ window.location.pathname.substr(1) +'">');
});

</script>
<link rel="stylesheet" type="text/css" media="screen" href="https://m.zbird.com/css/j.suggest.css?r100015" />
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/j.bfbd.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/j.scrollto.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/j.scrollshow.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/cookie.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/swf.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/base64.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/j.suggest.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/j.validate.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/cookie-help.js?r100015"></script>

<script type="text/javascript">
    var g_baseUrls = ({
      resImg: 'https://m.zbird.com/images/',
      resCss: 'https://m.zbird.com/css/',
      resJs: 'https://m.zbird.com/js/',
      res: 'https://m.zbird.com/'
    });
</script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/common.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/j.validateext.js?r100015"></script>
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/j.mobilechecknew.js?r100015"></script>
<!-- <link rel="stylesheet" type="text/css" href="https://m.zbird.com/css/publicmoblie.css" /> -->
<link rel="stylesheet" type="text/css" href="/mobile_sample/static/src/css/publicmoblie.css?r100015" />
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/publicmoblie.js?r100015"></script>

<!-- <script type="text/javascript" name="baidu-tc-cerfication" data-appid="4949261" src="https://apps.bdimg.com/cloudaapi/lightapp.js"></script> -->

<script>
var _hmt = _hmt || [];
var _gaq = _gaq || [];
</script>

</head>
<body>
<script src="//dl.ntalker.com/js/xn6/ntkfstat.js?siteid=kf_9910" charset="utf-8"></script>

<div class="f_consult">
  <a href="javascript:;" id="zixun" onclick="javascript:ga('send','event','zixun', 'click', 'right');_hmt.push(['_trackPageview','/virtual/preconsult']);NTKF.im_openInPageChat();" class="zshangqiao" ></a>
  <span id="txt_pack" id="zixun" onclick="javascript:openOnlineCustomWin();_hmt.push(['_trackPageview','/virtual/preconsult']);ga('send','event','zixun', 'click', 'button');"><a href="javascript:;"><i>你的首饰多久没有保养了？</i><em><i>咨询客服，了解首饰保养秘诀</i></em></a></span>
</div>
<section class="layout" id="scene">
	<div class="pubfull_ldg"><i></i></div>
  <div class="header_zhezhao"></div>
<!-- 二级标题 -->


    <!-- 二级标题 end -->



<link rel="stylesheet" type="text/css" href="https://m.zbird.com/css/site/diy/diypnewlist.css?r100015" />
<link rel="stylesheet" type="text/css" href="https://m.zbird.com/css/site/diy/diy.css?r100015" />
<link rel="stylesheet" type="text/css" href="/mobile_sample/static/src/css/diy.css?r100015" />
<div class="shade_opacity" style="display:none;"></div>
<div id="error_opa" style="display: none"></div>
<div id="error_info" style="display: none"><span><em></em></span></div>


<!-- 定制标题 -->
<div class="f_diy_wp steps_02">
	<div class="diy_ov">
		<div class="g_steps_ctain01 diy_detl_show" data-detl="diy_diam">
			<i class="diy_pro_state"  id='sel_diam'  ></i>
			<em class="f_sel_txt" style="display:none"><i>钻石</i>请选择</em>

		</div>
		<div class="g_steps_ctain02 "  data-detl="diy_pro">
			<i class="diy_pro_state" id="sel_ring"></i>
			<em class="f_sel_txt"><i>戒托</i>请选择</em>
		</div>
		<div class="g_steps_ctain03 " data-detl="diy_end">
			<i class="diy_pro_state" id="sel_ring"></i>
		</div>
	</div>
	</div>
<!-- 定制标题end -->
<div class="g_flft_lst" >
	<div class="g_flft_tlt"><em class="icon_cancel">取消</em><em class="icon_reset">重置</em></div>
	<div class="g_flft_lst_ov">
		<dl class="g_flft_dl dl_diyrng">
			<dt>风格</dt>
			<dd>
				<a href="javascript:;" rel='1' val='1' id="diyrng_01">简约直臂</a>
				<a href="javascript:;" rel='1' val='2' id="diyrng_02">经典直臂</a>
				<a href="javascript:;" rel='1' val='3' id="diyrng_03">简约扭臂</a>
				<a href="javascript:;" rel='1' val='4' id="diyrng_04">经典扭臂</a>
				<a href="javascript:;" rel='1' val='5' id="diyrng_05">典雅浪漫</a>
				<a href="javascript:;" rel='1' val='6' id="diyrng_06">复古奢华</a>
				<a href="javascript:;" rel='1' val='7' id="diyrng_07">异形钻款</a>
				<a href="javascript:;" rel='1' val='8' id="diyrng_08">经典套戒</a>
				<a href="javascript:;" rel='1' val='9' id="diyrng_09">北极光款</a>
				<a href="javascript:;" rel='1' val='10' id="diyrng_10">火焰玫瑰</a>
				<a href="javascript:;" rel='1' val='15' id="diyrng_11">心心相印</a>
			</dd>
		</dl>
		<dl class="g_flft_dl dl_diypri">
			<dt>价格</dt>
			<dd><a href="javascript:;" rel='2' val='1' >3000以下</a>
				<a href="javascript:;" rel='2' val='2' >3000-6000</a>
				<a href="javascript:;" rel='2' val='3' >6000-10000</a>
				<a href="javascript:;" rel='2' val='4' >10000-20000</a>
				<a href="javascript:;" rel='2' val='5' >20000以上</a>
			</dd>
		</dl>
		<dl class="g_flft_dl dl_diypri">
			<dt>材质</dt>
			<dd>
				<a href="javascript:;" rel='3' val='2'>18K</a>
				<a href="javascript:;" rel='3' val='1'>铂金</a>
			</dd>
		</dl>
	</div>
    <input type="hidden" value="1" id='page' />
	<input type='hidden' value='0' id='totalpage'/>
	<input type='hidden' value='0' id='diamondid'/>
	<input type='hidden' value='r' id='cate1'/>
	<input type='hidden' value='d' id='cate2'/>
	<a href="javascript:;" class="btn_flft" >确定</a>
</div>

<div class="fix_order_tp">
	<div class="fix_order">
		<a href="javascript:;" class=" on" rel='4'  val='1'>销量</a>
		<a href="javascript:;" class="" rel='4'  val='3'>价格<i class="">
		</i></a><a href="javascript:;" class="ord_a_flft">筛选<i></i></a>
	</div>
</div>

<div class="f_pro_lst_wp">
	   	<div class="f_pro_ser_un">
   		<span></span>
   		<em>抱歉，我们没有找到符合条件的商品</em>
   	</div>

    </div>
<img id="loading" src="/images/ww3/moblie/publicmoblie/loading.gif" width=30 height=30 style="margin:0 auto;display:block;visibility:hidden" />
<script>
var searchCondition = ["r","d","7","0","0","5","0","0","0","3","1","0"];
</script>
<script type="text/javascript" src="https://m.zbird.com/js/diy/diydroplist-jie.js"></script>
<script type="text/javascript" src="https://m.zbird.com/js/diy/diypub.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
var wx_title = document.title;
//wx.config预留
wx.config({
  debug: false,
  appId: 'wx7236f94b65c012db',
  timestamp: 1520530890,
  nonceStr: 'zb1rd',
  signature: '9f8aafec128a9ccb6231f687f2dd338935f366ed',
  jsApiList: [
  	'onMenuShareAppMessage',
  	'onMenuShareTimeline'
  ]
});
</script>
<script type="text/javascript">
wx.ready(function () {
	 wx.checkJsApi({
      jsApiList: [
        'onMenuShareAppMessage',
        'onMenuShareTimeline'
      ],
      success: function (res) {
      }
    });
	// 分享给朋友
	wx.onMenuShareAppMessage({
	    title: 'zbird', // 分享标题
	    desc: wx_title, // 分享描述
	    link: window.location.href, // 分享链接
	    imgUrl: "https://m.zbird.com/images/ww3/moblie/add/200x200.jpg", // 分享图标
	    type: '', // 分享类型,music、video或link，不填默认为link
	    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
	    success: function () {
	        // 用户确认分享后执行的回调函数
	        // window.location.href = g_baseUrls.res+'huodong/zuanshima';
	    },
	    cancel: function () {
	        // 用户取消分享后执行的回调函数
	    }
	});

	// 分享到朋友圈
	wx.onMenuShareTimeline({
	    title: wx_title, // 分享标题
	    link: window.location.href, // 分享链接
	    imgUrl: "https://m.zbird.com/images/ww3/moblie/add/200x200.jpg", // 分享图标
	    success: function () {
	        // 用户确认分享后执行的回调函数
	        // window.location.href = g_baseUrls.res+'huodong/zuanshima';
	    },
	    cancel: function () {
	        // 用户取消分享后执行的回调函数
	    }
	});
});

wx.error(function (res) {
  // alert(res.errMsg);
});
</script>


    <a href="javascript:;" id="totop" class="back_top"><img src="https://m.zbird.com/images/ww3/moblie/publicmoblie/back_top.png" width="100%"  /></a>
</section>
<!-- 新增门店滚动 -->
<script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/plugin/jquery.liMarquee.js?r100015"></script>
<!-- 新增门店滚动end -->
<script type="text/javascript">
//获取购物车商品数量
cartcount();
function cartcount(){
    $.ajax({
        url : '/car/ajaxcount',
        type : 'post',
        cache : false,
        dataType : 'json',
        data :  {},
        success : function(res)
        {
            if(200 == res.code){
                if (res.carts_count > 0) {
                	$(".shop_car_i").removeAttr("style");
					$(".fix_car_i").html(res.carts_count);
                	if ($(".fix_car_i")) {
                		$(".fix_car_i").removeAttr("style");
                	}
                    return false;
                } else {
                	$(".shop_car_i").attr("style","display:none");
                	if ($(".fix_car_i")) {
                		$(".fix_car_i").attr("style","display:none");
                	}
                	return false;
                }
            }
        }
    });
}
</script>
<!-- <script language="JavaScript" type="text/javascript" src="https://m.zbird.com/js/www/loadimage.js"></script> -->
<script  type="text/javascript" >
$(document).ready(function(){
	 if(getCookie('zbird_notice_line'))
   {
	    $('.hide_idxtips').hide();
   }else{
		  $('.hide_idxtips').show();
   };
   $('.hide_idxtips').click(function(){
	  var time = new Date();
	  time.setTime(time.getTime()+24*60*60*1000);
      SetCookie('zbird_notice_line', 1, time, '/');
	  $(this).hide();
    });
  /*************************预加载开始*******************************/
    // $("body").loadimage({
    //   preloadImages :
    //     [
    //           "/moblie/site/index/nav.jpg",
    //           "/moblie/site/index/zuanshi_bg.jpg"

    //       ],
    //       onComplete : function(){
    //       //  initPage();
    //      // audio.addEventListener('loadeddata', false);  //loadstart，durationchange，loadeddata，progress，canplay，canplaythrough。
    //       $("#loding,#progress").hide();
    //       $("#scene").css("visibility","visible");
    //       // function initialiseControls(){
    //       //   audio.play();
    //       // }

    //       }
    // });
    /*************************预加载结束*******************************/

});
</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7860f8e8062dd334d826a6052a7448d7' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- Baidu统计代码 -->
<script>
(function() {
   var REQUEST_PATH = '/virtual/preconsult';
   var GET_ITEMS = function() {
        return[
            document.getElementById('BDBridgeIconWrap'),
            document.getElementById('BDBridgeInviteWrap')
        ];
};
   window._hmt = window._hmt || [];
   var on = function (elem, event, handler) {
        if(elem.addEventListener) {
            elem.addEventListener(event,handler, false);
        } else if(elem.attachEvent) {
            elem.attachEvent('on'+ event, handler);
        }
};
   var track = function(item, i) {
        on(item, 'mouseup', function() {
            window._hmt.push(['_trackPageview', REQUEST_PATH + i]);
        });
   };
   on(window, 'load', function() {
        var items = GET_ITEMS();
        for(var i = items.length - 1; i >= 0; i--) {
            items[i] && track(items[i],i + 1);
        }
   });
})();
</script>

<!-- GA统计代码（目前使用） -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97277-20', 'auto');
  ga('send', 'pageview');
</script>
<script type="text/javascript" defer >
$(document).ready(function() {
	//底部文字跑马灯
		$('.str5').liMarquee({
			drag: false	,
			scrollamount:20
		});
  //文字提示轮播



  if ($('.hide_idxtips').is(':visible')) {
    var scroll_txt=$('.hide_idxtips_txt a').width();
    var scroll_ftct=$('.hide_idxtips_txt').width();
   if (scroll_txt-scroll_ftct>0) {
      $('.hide_idxtips_txt a').addClass('on');
      //滚动
      //$('.hide_idxtips_txt a').animate({'margin-left':-(scroll_txt-scroll_ftct)+'px'});
    }else{
       $('.hide_idxtips_txt a').removeClass('on');
    }
  }

    });
</script>

<!-- 咨询弹出提示 -->
<script>
  $(document).ready(function(){
          var line1 = '别一个人在那纠结了！';
      var line2 = '让客服帮忙一起选吧，人多力量大呀>>';
      var time = '60';
      var key = 'list';

      runNotice(line1, line2, time, key);

    function runNotice(line1, line2, time, key)
    {

      if(getMyCookie(key) != 'true'){
        setTimeout(function (){
          showNotice(line1, line2)
        }, time * 1000);

        setTimeout(function (){
          hideNotice()
        }, time * 1000 + 5000);

        $(document).mouseup(function(e){
          var _con = $('#txt_pack');   // 设置目标区域
          if(!_con.is(e.target) && _con.has(e.target).length === 0){ // Mark 1
            hideNotice()
          }
        });
      }
    }

    function showNotice(line1, line2)
    {
      setMyCookie(key, 'true', 'd1');
      $('#txt_pack > a > i').text(line1);
      $('#txt_pack > a > em > i').text(line2);
      $('#txt_pack').addClass('on');
    }

    function hideNotice()
    {
      $('#txt_pack').removeClass('on');
    }


  })

  //设置cookie
  //s20是代表20秒
  //h是指小时，如12小时则是：h12
  //d是天数，30天则：d30
  function setMyCookie(name, value, time)
  {
      var strsec = getMySec(time);
      var exp = new Date();
      exp.setTime(exp.getTime() + strsec*1);
      document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
  }

  //读取cookies
  function getMyCookie(name)
  {
      var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");

      if(arr=document.cookie.match(reg)){
          return unescape(arr[2]);
      }else {
          return null;
      }
  }


  function getMySec(str)
  {
     var str1=str.substring(1,str.length)*1;
     var str2=str.substring(0,1);
     if (str2=="s"){
          return str1*1000;
     }else if (str2=="h"){
         return str1*60*60*1000;
     }else if (str2=="d"){
         return str1*24*60*60*1000;
     }
  }

</script>
</body>
</html>
