



  
    
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta http-equiv="x-ua-compatible" content="ie=7"/>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
	
	<title>[戒指]  金属：白18K金 宝石：人造锆 钻石 钻石 钻石 钻石 女款 | 宝珑网 -- 定制你的宝石礼物</title>
    <meta content=" 白18K金 人造锆 钻石 钻石 钻石 钻石 戒指 | 宝珑网" name="keywords"/>
    <meta content="" name="description"/>
	<link href="http://www.bavlo.com/web/css/details.css?version=15" rel="stylesheet" type="text/css" />
	<link href="http://www.bavlo.com/web/css/jquery.nouislider.css" rel="stylesheet" type="text/css" />
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?dda304f3818fe984ebd38ed897a78225";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);0
})();
</script>
<style>
.q_3d{height:30px;overflow: hidden;float:right;margin-top:35px;}
.q3d_t{background: url(http://cj.bavlo.com/web/images/detail/question.png) no-repeat;display: block;color:#777;font-family: "微软雅黑";font-size: 15px;
height: 16px;
float: left;
cursor:default;
padding-bottom: 3px;
padding-left: 22px;}
.help_3d{display:none;height:330px;width:460px;overflow: hidden;border:1px solid #bbb;position: absolute;background: #eee;z-index:88;margin-top:30px;left:142px}
.help_c{padding:20px;overflow:hidden;}
.help_c_t{overflow:hidden;border-bottom:1px solid #ccc;padding-bottom:15px;}
.help_c_c{overflow:hidden;border-bottom:1px solid #ccc;padding:15px 0 15px 0}
.help_c_c ul,li{list-style: none;}
.help_c_c ul li{padding:3px 0}
.help_c_b{overflow:hidden;}
.help_c_b ul{overflow:hidden;}
.help_c_b ul li{padding:3px 0}
.help_a a{margin-left:50px;}
.help_r{height:24px;width:30px;text-align: left;position: absolute;float:left;margin-top:-13px;background:#eee; }
.help_btn{overflow:hidden;width:100%;text-align: center;margin-top:16px;}
.help_btn span{height:27px;line-height:27px;width:120px;color:white;background: url(http://cj.bavlo.com/web/images/detail/red_btn.jpg) repeat-x;font-size:15px;padding:5px 20px;cursor: pointer;}
</style>
</head>
<body>
<script type="text/javascript">
function loadingRmove(){
	document.getElementById("img_loading_mask").style.display="none";
	document.getElementById("img_loading").style.display="none";
}

</script>





<link href="/mobile_sample/static/src/css/header.css?version=40" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/tinybox.js"></script>
<script language="javascript" type="text/javascript" src="/mobile_sample/static/src/js/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="/mobile_sample/static/src/js/header.js?version=3"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery_cookie.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.validationEngine-zh_CN.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.validationEngine.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.form.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.lazyload.min.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/json.min.js"></script>
    <div id="header"><!-- // header-->
    <div class="status"  id="dingbu">
        <div class="li">
            <div class="diy_left">
                <ul>
                    <li style="border-left:1px solid #000"  class="diy_sel"><a href="/index">珠易购</a></li>
                    <!-- <li ><a href="../web/gemDefault.html">彩色宝石</a></li> -->
                    <li ><a href="/design" target="_blank" >个性定制</a></li>
                    <!--<li ><a href="../web/designGem.html" >来石定制</a></li>-->
                    <!--<li ><a href="../web/picView.html" >我爱经典</a></li>-->
                    <li ><a href="/join_us" target="_blank"  >招商加盟</a></li>
                    <li ><a href="#" >VR试戴</a></li>
                </ul>
            </div>
            <div class="right1">
                <div class="li01">


                    <span id="registermenu"><a href="../web/login.html">注册登录</a></span>

                    <input type="hidden" id="userId" value=""/>
                </div>
                <!-- 浏览记录 -->
                <div class="set">
                    <div class="li02" style="margin-left:-1px"  onmouseover="this.className='rt_menu1';s('set_sub');"  onmouseout="this.className='rt_menu';h('set_sub');"><a href="#" >浏览记录</a>
                        <div class="img"  id="set_sub" style="display:none">
                            <div class="rollBox">
                                <div class="LeftBotton" onclick="hsPageTurning('left')"></div>
                                <div class="Cont" id="ISL_Cont">
                                    <input type="hidden" id="historyChange" totalPage="1" indexPage="1"/>
                                    <div class="ScrCont">
                                    </div>
                                </div>
                                <div class="RightBotton" onclick="hsPageTurning('right')"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 收藏夹-->
                <div class="set">
                    <div class="li03" id="collect" style="margin-left:-1px" onmouseover="this.className='rt_menu3';s('set_sub1');"  onmouseout="this.className='rt_menu2';h('set_sub1');"><a href="#" class="collection">收藏夹</a>
                        <div class="shoucang" id="set_sub1" style="display:none">
                            <div class="l_btn" onclick="pageTurning('left')"><img src="http://cj.bavlo.com/web/image/header/le.gif"  alt="left"/></div>
                            <div class="c_cont">
                                <input type="hidden" id="collectChange" totalPage="1" indexPage="1"/>
                                <div class="c_cont1">

                                </div>
                            </div>
                            <div class="r_btn" onclick="pageTurning('right')"><img src="http://cj.bavlo.com/web/image/header/ri.gif"  alt="right"/></div>
                        </div>
                    </div>
                </div>
                <!-- 购物车-->
                <div class="set" id="cartmenu" style="cursor: pointer;">
                    <div class="li033" id="shoppingCart" style="margin-left:-1px"   onmouseover="this.className='rt_menu5';s('set_sub2');"  onmouseout="this.className='rt_menu4';h('set_sub2');">
                        <a href="#"><font>购物车</font><em class="li_01" onclick="toPay()">去结帐</em></a>
                        <div class="gouwu" id="set_sub2" style="display:none">
                            <p style="color: #E3D1B6;text-align: center; font-size: 16px;">购物车中无商品</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="head">
        <div class="top">
            <h1 id="logo1"><a href="http://www.bavlo.com">珠易购</a></h1>
            <div class="tel">
                <h6>恭候致电 0851-88888888</h6>
                <div class="sear_ch">
                    <p><input class="sear_ch_input" type="text" onkeypress="enterSumbit()"  value=""  id="search_str" maxlength="10" /><input class="sear_ch_sub" type="button" onclick="search_all()"  value="" /></p>
                </div>
            </div>
            <!--	<div style="white-space:nowrap;overflow:hidden;width:600px;float: right;margin-right: 25px;margin-top: 10px;height:30px;line-height:30px;">
                    <div id="scrollobj"  style="float:right;white-space:nowrap;overflow:hidden;width:600px;margin:0 auto">
                    <span style="color:#777;">公告：因春节期间放假，自今日起到2月28日所下订单，顺延至3月20日发货。敬请谅解！恭祝新年大吉！万事如意！宝珑公司
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>-->
        </div>
    </div>
    <ul class="nav">
        <li><a id="index" href="/index" class="sel">主页</a></li>
        <li><a href="/diamondSearch" target="_blank" style="letter-spacing: 1px;">钻石</a></li>

        <li id="Ring">
            <a href="/products" target="_blank"

            >戒指</a>
        </li>

        <li id="Necklace">
            <a href="/products" target="_blank"

            >颈饰</a>
        </li>

        <li id="Earring">
            <a href="/products" target="_blank"

            >耳饰</a>
        </li>



        <li id="loversJewelry">
            <a href="/products" target="_blank"

            >情侣</a>
        </li>




    </ul>

</div>
<div id="base_content_folw" style="display:none;">
	<div class="body">
		<ul>
			<li><a href="/products">情侣对戒</a></li>

			<li><a href="#">指纹戒指</a></li>
		</ul>
	</div>
</div>



	<div class="center">
		<!--  center  -->

<div id="detail_cen"> <!--    detail_cen  -->
	<div class="detail_h6">
		<span class="danc_1"></span>
		<span class="danc_2">戒指</span>
		<span class="danc_2">女款</span>
		<span class="danc_2">ID 82955</span>
		<span class="danc_3" id="price1">￥<strong>4179</strong> 元</span>
		<input type="hidden" id="styleId" value="82955"/> 
		<input type="hidden" id="gender" value="1"/> 
		<input type="hidden" id="typeName" tid="1" value="Ring"/> 
		<div class="share1">
					<!-- 分享 -->
					<div class="share1">

						<!-- Baidu Button BEGIN -->
						<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"
							data="">
							<span class="bds_more">分享到：</span> <a class="bds_qzone"></a> <a
								class="bds_tsina"></a> <a class="bds_tqq"></a>
								 <a class="bds_renren"></a> <a class="shareCount"></a>
						</div>
					</div>
					<!-- 分享 -->
		</div>
	</div>	 
	<div class="detail_choose">
		<div class="img_loading_mask" id="img_loading_mask" style="z-index: 9; display: block; "></div>
				<div class="img_loading" id="img_loading" style="z-index: 10; background: url(http://cj.bavlo.com/web/css/big.gif) no-repeat; display: block; background-position: 50% 50%;"></div>
		<ul class="det_ch_left">
			<li><input class="inp_radio" type="radio" name="priceConfig" value="max" /><span>最高价  ￥5729元</span></li>
			<li><input class="inp_radio" type="radio" name="priceConfig" value="min" /><span>最低价  ￥739元</span></li>
			<li><p class="hf"><a class="closed" id="renew" onmouseover="this.className='closed_hover'" onmouseout="this.className='closed'" onmousedown="this.className='closed_down'" title="恢复" href="#"></a>
					</p></li>
					
			
				<li style="margin-top:259px;"></li>
				
		</ul>
			<ul class="view_3d" style="display:none;">
				<li><div id="3DDIY"  style="width:604px;height:502px" wmode="transparent"></div></li>
				<li><input type="button"  class="switch_btn_2d left" id="switch_btn" value="切换到2D">
					<div style="width: 172px;float: left;margin: 35px 0px 0px 70px"><a target="_blank" href="http://cj.bavlo.com/DownLoad/mark_final.pdf?version=1">下载3D虚拟试戴定位标记打印卡</a></div>
					<div class="q_3d">
						<span class="q3d_t">无法正常显示3D</span>
						<div class="help_3d">
						<div class="help_c">
							<div class="help_c_t">
								为获得逼真、流畅的显示效果，请确保当前显卡驱动为最新。
							</div>
							<div class="help_c_c">
								<ul>
									<li style="padding-top:0px;">显卡驱动更新方式：</li>
									<li>一、使用驱动精灵更新显卡驱动。请下载：<a href="http://www.drivergenius.com/" target="_blank">驱动精灵</a></li>
									<li>二、自己下载显卡驱动：</li>
									<li class="help_a">
										<a href="http://www.nvidia.cn/Download/index.aspx?lang=cn" target="_blank">NVIDIA</a>
										<a href="http://support.amd.com/zh-cn/download" target="_blank">ATI/AMD</a>
										<a href="http://www.intel.com/p/zh_CN/support/detect/graphics" target="_blank">INTEL</a>
									</li>
								</ul>			
							</div>
							<div class="help_c_b">
								<div class="help_r">备注</div>
								<ul>
									<li style="padding-top:15px;" >1、安装最新的显卡驱动后会提示重启电脑，重启后即可看到正确的展示效果；</li>
									<li>2、如果还是看不到正确的三维效果，请更新Flash Player到 <a href="http://www.adobe.com/go/getflashplayer" target="_blank">最新版本；</a></li>
									<li>3、通过清空浏览历史数据（Ctrl+Shift+Del）也可获得正确的展示效果。</li>
								</ul>
								<div class="help_btn"><span class="help_to_2d">切换到2D</span></div>													
							</div>
						</div>
					</div>				
					</div>
					
				</li>
			</ul>						
			<div class="det_ch_cen"  id="imgDiv01">	
							
				<img onload="loadingRmove()" class="show_bigImg" id="bigimage01" src="http://stylepics.bavlo.com/NewStylePic/Ring/82955/RightFront/82955_14586_W18K_14587_CZ_3471_14583_Diamond_21_14584_Diamond_17_14588_Diamond_9_14585_Diamond_5.png!max" alt=""/>
				<ul>
					
						<li  
						class="cameraName_selected" id="cameraName_Selected"
						
						cameraName="RightFront">
						<img src="http://stylepics.bavlo.com/NewStylePic/Ring/82955/RightFront/bg.png!ma"  width="60" height="50"  alt="RightFront"/>					
						</li>
					
						<li  
						
						class="cameraName"
						cameraName="left">
						<img src="http://stylepics.bavlo.com/NewStylePic/Ring/82955/left/bg.png!ma"  width="60" height="50"  alt="left"/>					
						</li>
					
						<li  
						
						class="cameraName"
						cameraName="LeftRear">
						<img src="http://stylepics.bavlo.com/NewStylePic/Ring/82955/LeftRear/bg.png!ma"  width="60" height="50"  alt="LeftRear"/>					
						</li>
					
						<li  
						
						class="cameraName"
						cameraName="Rear">
						<img src="http://stylepics.bavlo.com/NewStylePic/Ring/82955/Rear/bg.png!ma"  width="60" height="50"  alt="Rear"/>					
						</li>
					
						<li  
						
						class="cameraName"
						cameraName="human">
						<img src="http://stylepics.bavlo.com/NewStylePic/Ring/82955/human/bg.png!ma"  width="60" height="50"  alt="human"/>					
						</li>
					
				</ul>				
			</div>
		<div class="right w_314">
			<div class="bor">
											<!-- 金属 -->
				
					
				
				
					
						<ul class="select_s"   layerId="14586">
							<li>
								<div class="parameter" id="parameter14586">
									<p><span>金属</span><span id="metalName">白18K金</span><input type="button" value="确定" class="btn_diy_over"></p>
								</div>
								<div class="parameter_ico" id="parameter_ico14586">
									<img src="http://cj.bavlo.com/web/images/detail/metal2.gif"  alt="白18K金"/>
								</div>
							</li>
						</ul>
						<div class="metal_table" style="display:none;">
							<ul>
								
									
									
									<li class="metalImg" id="1" layerId="14586" metalName="黄18K金"  metalType="Y18K"><img src="http://cj.bavlo.com/web/images/detail/metal1.gif"  alt="黄18K金"/></li>
									
								
									
									<li class="metalImgSelected" id="2" layerId="14586" metalName="白18K金"  metalType="W18K"><img src="http://cj.bavlo.com/web/images/detail/metal2_h.gif"  alt="白18K金"/></li>
									
									
								
									
									
									<li class="metalImg" id="3" layerId="14586" metalName="红18K金"  metalType="R18K"><img src="http://cj.bavlo.com/web/images/detail/metal3.gif"  alt="红18K金"/></li>
									
								
									
									
									<li class="metalImg" id="4" layerId="14586" metalName="925银"  metalType="S925"><img src="http://cj.bavlo.com/web/images/detail/metal4.gif"  alt="925银"/></li>
									
								
									
									
									<li class="metalImg" id="6" layerId="14586" metalName="铂金"  metalType="PT950"><img src="http://cj.bavlo.com/web/images/detail/metal6.gif"  alt="铂金"/></li>
									
									
							</ul>
							
								<div class="metal_des" id="metal_des145861" style="display: none; ">
									<div class="ruby1">
										<h6>黄18K金</h6>
										<p>由75%的黄金与其它金属组成的合金，既保留了黄金的价值和色泽，又坚硬度高、性质稳定。</p>
									</div>
								</div>
							
								<div class="metal_des" id="metal_des145862" style="display: block; ">
									<div class="ruby1">
										<h6>白18K金</h6>
										<p>由75%的黄金与其它金属组成的合金，拥有黄金的珍贵价值，又坚硬度高、色泽洁白、性质稳定。</p>
									</div>
								</div>
							
								<div class="metal_des" id="metal_des145863" style="display: none; ">
									<div class="ruby1">
										<h6>红18K金</h6>
										<p>由75%的黄金与其它金属组成的合金，保留了黄金的价值，拥有玫瑰色泽，又坚硬度高、性质稳定。</p>
									</div>
								</div>
							
								<div class="metal_des" id="metal_des145864" style="display: none; ">
									<div class="ruby1">
										<h6>925银</h6>
										<p>92.5%纯银加入了其他金属的合金，表面镀了一层贵金属铑，硬度与亮度理想，洁白、抗氧化性强。</p>
									</div>
								</div>
							
								<div class="metal_des" id="metal_des145866" style="display: none; ">
									<div class="ruby1">
										<h6>铂金</h6>
										<p>Pt950天然白色贵金属，纯度达到95%，白色光泽自然天成，不会褪色，硬度和韧性更胜于其他贵金属。</p>
									</div>
								</div>
							
						</div>
					
				
				
				
				<!-- 宝石 -->
				
					
				
					
				
					
				
					
				
					
				
				
					
						<ul class="select_s"  layerId="14587" isMain="0"  name="gem_select"  gemId="3471" gemType="coloredGem"  color="198,198,198">
							<li>
								<div class="parameter" id="parameter14587">
									<p><span>宝石</span>
									<span id="gemName">人造锆</span><input type="button" value="确定" class="btn_diy_over"></p>
								</div>
								<div class="parameter_ico gem_ico" id="parameter_ico14587">
									<span style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img.bavlo.com/GemPics/4_1317.png',sizingMethod='image')"></span>
									<img src="http://img.bavlo.com/GemPics/4_1317.png"
									 alt="人造锆"/>
								</div>
							</li>
						</ul>
						<div class="gem_cont" style="display:none;">
							<div id="gemList_div14587"><img style="margin:20px 0 0 120px;" src="http://cj.bavlo.com/web/images/list/listLoading.gif" alt="loading"/></div>
							<div class="line_a">
								<a href="../help/gemstone.html" target="_blank">生辰石</a>
								<a href="../help/constellation.html" target="_blank">星座幸运石</a>
								<a href="../help/wedding_anniversary.html" target="_blank">结婚纪念石</a>
							</div>
						</div>
					
				
					
						<ul class="select_s"  layerId="14583" isMain="0"  name="gem_select"  gemId="21" gemType="diamond" color="220,220,220">
							<li>
								<div class="parameter" id="parameter14583">
									<p><span>宝石</span>
									<span id="gemName">钻石</span><input type="button" value="确定" class="btn_diy_over"></p>
								</div>
								<div class="parameter_ico gem_ico" id="parameter_ico14583">
									<span style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img.bavlo.com/GemPics/4_1308.png',sizingMethod='image')"></span>
									<img src="http://img.bavlo.com/GemPics/4_1308.png"
									 alt="钻石"/>
								</div>
							</li>
						</ul>
						<div class="gem_cont" style="display:none;">
							<div id="gemList_div14583"><img style="margin:20px 0 0 120px;" src="http://cj.bavlo.com/web/images/list/listLoading.gif" alt="loading"/></div>
							<div class="line_a">
								<a href="../help/gemstone.html" target="_blank">生辰石</a>
								<a href="../help/constellation.html" target="_blank">星座幸运石</a>
								<a href="../help/wedding_anniversary.html" target="_blank">结婚纪念石</a>
							</div>
						</div>
					
				
					
						<ul class="select_s"  layerId="14584" isMain="0"  name="gem_select"  gemId="17" gemType="diamond" color="220,220,220">
							<li>
								<div class="parameter" id="parameter14584">
									<p><span>宝石</span>
									<span id="gemName">钻石</span><input type="button" value="确定" class="btn_diy_over"></p>
								</div>
								<div class="parameter_ico gem_ico" id="parameter_ico14584">
									<span style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img.bavlo.com/GemPics/4_1308.png',sizingMethod='image')"></span>
									<img src="http://img.bavlo.com/GemPics/4_1308.png"
									 alt="钻石"/>
								</div>
							</li>
						</ul>
						<div class="gem_cont" style="display:none;">
							<div id="gemList_div14584"><img style="margin:20px 0 0 120px;" src="http://cj.bavlo.com/web/images/list/listLoading.gif" alt="loading"/></div>
							<div class="line_a">
								<a href="../help/gemstone.html" target="_blank">生辰石</a>
								<a href="../help/constellation.html" target="_blank">星座幸运石</a>
								<a href="../help/wedding_anniversary.html" target="_blank">结婚纪念石</a>
							</div>
						</div>
					
				
					
						<ul class="select_s"  layerId="14588" isMain="0"  name="gem_select"  gemId="9" gemType="diamond" color="220,220,220">
							<li>
								<div class="parameter" id="parameter14588">
									<p><span>宝石</span>
									<span id="gemName">钻石</span><input type="button" value="确定" class="btn_diy_over"></p>
								</div>
								<div class="parameter_ico gem_ico" id="parameter_ico14588">
									<span style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img.bavlo.com/GemPics/4_1308.png',sizingMethod='image')"></span>
									<img src="http://img.bavlo.com/GemPics/4_1308.png"
									 alt="钻石"/>
								</div>
							</li>
						</ul>
						<div class="gem_cont" style="display:none;">
							<div id="gemList_div14588"><img style="margin:20px 0 0 120px;" src="http://cj.bavlo.com/web/images/list/listLoading.gif" alt="loading"/></div>
							<div class="line_a">
								<a href="../help/gemstone.html" target="_blank">生辰石</a>
								<a href="../help/constellation.html" target="_blank">星座幸运石</a>
								<a href="../help/wedding_anniversary.html" target="_blank">结婚纪念石</a>
							</div>
						</div>
					
				
					
						<ul class="select_s"  layerId="14585" isMain="0"  name="gem_select"  gemId="5" gemType="diamond" color="220,220,220">
							<li>
								<div class="parameter" id="parameter14585">
									<p><span>宝石</span>
									<span id="gemName">钻石</span><input type="button" value="确定" class="btn_diy_over"></p>
								</div>
								<div class="parameter_ico gem_ico" id="parameter_ico14585">
									<span style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img.bavlo.com/GemPics/4_1308.png',sizingMethod='image')"></span>
									<img src="http://img.bavlo.com/GemPics/4_1308.png"
									 alt="钻石"/>
								</div>
							</li>
						</ul>
						<div class="gem_cont" style="display:none;">
							<div id="gemList_div14585"><img style="margin:20px 0 0 120px;" src="http://cj.bavlo.com/web/images/list/listLoading.gif" alt="loading"/></div>
							<div class="line_a">
								<a href="../help/gemstone.html" target="_blank">生辰石</a>
								<a href="../help/constellation.html" target="_blank">星座幸运石</a>
								<a href="../help/wedding_anniversary.html" target="_blank">结婚纪念石</a>
							</div>
						</div>
					
				
				
				<!-- 刻字 -->
				
				<div class="lettering" style="display:none;">
						<div class="lettering_select">
							<div class="left"><input id="diyText" type="text" value="" onkeyup="textCount()" onchange="textCount()" style="font-family:'华文楷体'"/></div>
							<div class="left">
								<select id="fontStyle">
									<option value="华文细黑">华文细黑</option>
									<option value="华文仿宋">华文仿宋</option>
									<option value="华文楷体">华文楷体</option>
									<option value="华文宋体">华文宋体</option>
									<option value="华文中宋">华文中宋</option>
									<option value="仿宋">仿宋</option>
									<option value="黑体">黑体</option>
									<option value="楷体">楷体</option>
									<option value="Bradley Hand ITC">Bradley Hand ITC</option>
									<option value="Segoe Script">Segoe Script</option>
									<option value="verdana">Verdana</option>
							 	</select>
							 </div>
						</div>
						<ul class="lettering_select1">
							<li class="chara">≤12字符</li>
							<li></input><input type="button" class="viewheart_btn" onclick="viewaddClick('heart')" onmouseover="this.className='viewheart_over_btn'" onmouseout="this.className='viewheart_btn'"/></li>
							<li><input type="button" class="viewand_btn" onclick="viewaddClick('and')" onmouseover="this.className='viewand_over_btn'" onmouseout="this.className='viewand_btn'"/></li>
							<li><input type="button" value="确定" class="font_btn"></li>
						</ul>
				</div>
				<!-- 手寸 -->
				
				<ul class="select_s">
					<li>
						<div class="parameter">
							<p><span>手寸</span><span id="ringSizeView">13号 </span><input type="button" value="确定" class="btn_diy_over"></p>
						</div>
						<div class="parameter_ico">
							<img src="http://cj.bavlo.com/web/images/detail/ringSizeIco.gif" alt="手寸"/>
						</div>
					</li>
				</ul>
				
				<div class="diameter" style="display:none;">
						<div class="diameter_select">
							<select id="ringSizeSelect">
								
									<option sizeCode="7" value="7号" >7号 内径14.6mm 周长45.8mm</option>
								
									<option sizeCode="8" value="8号" >8号 内径14.9mm 周长46.8mm</option>
								
									<option sizeCode="9" value="9号" >9号 内径15.2mm 周长47.7mm</option>
								
									<option sizeCode="10" value="10号" >10号 内径15.6mm 周长49.0mm</option>
								
									<option sizeCode="11" value="11号" >11号 内径16.0mm 周长50.2mm</option>
								
									<option sizeCode="12" value="12号" >12号 内径16.3mm 周长51.2mm</option>
								
									<option sizeCode="13" value="13号"  selected>13号 内径16.65mm 周长52.3mm</option>
								
									<option sizeCode="14" value="14号" >14号 内径17.0mm 周长53.4mm</option>
								
									<option sizeCode="15" value="15号" >15号 内径17.3mm 周长54.3mm</option>
								
									<option sizeCode="16" value="16号" >16号 内径17.7mm 周长55.6mm</option>
								
									<option sizeCode="17" value="17号" >17号 内径18.1mm 周长56.8mm</option>
								
									<option sizeCode="18" value="18号" >18号 内径18.45mm 周长57.9mm</option>
								
									<option sizeCode="19" value="19号" >19号 内径18.7mm 周长58.7mm</option>
																
							 </select>
						</div>
						<p><a href="#eben6">如何确定手寸？</a></p>
				</div>
				
				<!-- 链子 -->
				
				
				<div class="metal_table1" style="display:none;">
					<ul class="chain_metal_ul">
						
						<li style="margin-top:22px"><a href="http://www.bavlo.com/Education/Article_886.html" target="_blank">如何选链子？</a></li>
					</ul>
					<ul class="chain_type_ul">
						
					</ul>
					<div id="chain_list">
						<ul class="chain_ul">
							
						</ul>
					</div>
				</div>
				
				<a id="onlineSales" href="tencent://message/?uin=2366746022&Site=宝珑网&Menu=yes">
				<ul class="engrave" onmouseover="this.className='engrave_hover'" onmouseout="this.className='engrave'">					
						<li>
							<div class="parameter" id="parameterFont">
								<p><span>刻字</span><span>请联系客服！</span></p>
							</div>
							<div class="parameter_ico">
								<img src="http://cj.bavlo.com/web/images/detail/m3.gif"  alt="刻字"/>
							</div>
						</li>

				</ul>
				</a>
				
			</div>		
			<div class="save_the m_t_33">
				<input type="button" class="left d_put " id="addCollect" styleId="82955" price="4179.00" styleName="" picUrl="Ring/82955/RightFront/82955_14586_W18K_14587_CZ_3471_14583_Diamond_21_14584_Diamond_17_14588_Diamond_9_14585_Diamond_5.png" value="加入收藏夹">
				<input type="button" class="right d_put" id="addShoppingCart" value="加入购物车" >
			</div>
		</div>	
	</div>
	<div class="details">
		<div class="detail_cont">
			
				<ul class="w_410">
					<li><b>编码：82955</b></li>
					<li>类型：戒指</li>
					
					<li>
						<label>宝石：</label>
							<span class="span">
							
								
								<span id="gemContent14587">
								
															
									<strong>人造锆</strong><br />
									<span id="gemCount" count="1">1粒&nbsp;&nbsp;&nbsp;约</span>  <span id="gemWeight">1.68</span> ct</br>
									  颜色：<span id="rgbColor"> 198,198,198(RGB)</span>
										  </br>
									规格：
											6.50,6.50,3.90
										  	
										  			
								
								</span>
								</br>
							
								
								<span id="gemContent14583">
															
									<strong>钻石</strong><br />
										<span id="gemCount" count="6">6粒&nbsp;&nbsp;&nbsp;共约</span>  <span id="gemWeight">0.07</span> ct </br>
									  颜色：<span id="rgbColor"> H</span></br>
									规格：
											1.40 x 1.40 x 0.84
								 	 	  	
										  
									  	  
								
								
								</span>
								</br>
							
								
								<span id="gemContent14584">
															
									<strong>钻石</strong><br />
										<span id="gemCount" count="4">4粒&nbsp;&nbsp;&nbsp;共约</span>  <span id="gemWeight">0.04</span> ct </br>
									  颜色：<span id="rgbColor"> H</span></br>
									规格：
											1.30 x 1.30 x 0.78
								 	 	  	
										  
									  	  
								
								
								</span>
								</br>
							
								
								<span id="gemContent14588">
															
									<strong>钻石</strong><br />
										<span id="gemCount" count="2">2粒&nbsp;&nbsp;&nbsp;共约</span>  <span id="gemWeight">0.01</span> ct </br>
									  颜色：<span id="rgbColor"> H</span></br>
									规格：
											1.10 x 1.10 x 0.66
								 	 	  	
										  
									  	  
								
								
								</span>
								</br>
							
								
								<span id="gemContent14585">
															
									<strong>钻石</strong><br />
										<span id="gemCount" count="2">2粒&nbsp;&nbsp;&nbsp;共约</span>  <span id="gemWeight">0.01</span> ct </br>
									  颜色：<span id="rgbColor"> H</span></br>
									规格：
											1.00 x 1.00 x 0.60
								 	 	  	
										  
									  	  
								
								
								</span>
								</br>
							
							</span>
						
					</li>
					
					<li>
						<label>金属：</label>
						<span class="span">
							
								 <strong id="metalContent14586">白18K金</strong><br />
							
						</span>
					</li>
					<li>
						<label>尺寸：</label>
						<span class="span" id="dimension" dimension="20.31*8.95*24.63">
								20.31×8.95×24.63
						</span>
					</li>
						
				</ul>
				<p class="w_p"></p>				
			<div class="right w_320">
				<div class="g_price" id="price2">
					<h1>价格：￥<span>4179</span>元  </h1>
				</div>
			</div>		
		</div>
	</div>
	<!--  //  similar  -->
		
			<div class="details">
				<div class="similar">
					<!--   similar  -->
					<h3>
						<img src="http://cj.bavlo.com/web/images/detailh3.gif"  alt="猜你喜欢"/>
					</h3>
					<div id="List1">
						
							
							<div class="List1pics">
								<a href="javaScript:void(window.open('../web/detail_82794.html'));">
									<img class="similar_pic" src="http://cj.bavlo.com/web/image01/big.gif" data-original="http://stylepics.bavlo.com/NewStylePic/Ring/82794/RightFront/82794_14083_W18K_14084_Topaz_3201_14081_Diamond_21_14082_Diamond_201_14085_Diamond_13_14086_Diamond_9.png!mid" width="180" height="150" alt=""/>
									<span class="span1"></span>
									<span>￥6019.00元</span>
								</a>
							</div>
						
							
							<div class="List1pics">
								<a href="javaScript:void(window.open('../web/detail_81874.html'));">
									<img class="similar_pic" src="http://cj.bavlo.com/web/image01/big.gif" data-original="http://stylepics.bavlo.com/NewStylePic/Ring/81874/RightFront/81874_11078_S925_11079_Rose Quartz_3441_11077_Topaz_3169.png!mid" width="180" height="150" alt=""/>
									<span class="span1"></span>
									<span>￥769.00元</span>
								</a>
							</div>
						
							
							<div class="List1pics">
								<a href="javaScript:void(window.open('../web/detail_1323.html'));">
									<img class="similar_pic" src="http://cj.bavlo.com/web/image01/big.gif" data-original="http://stylepics.bavlo.com/NewStylePic/Ring/1323/RightFront/1323_700_S925.png!mid" width="180" height="150" alt="青云•金牛座"/>
									<span class="span1">青云•金牛座</span>
									<span>￥649.00元</span>
								</a>
							</div>
						
							
							<div class="List1pics">
								<a href="javaScript:void(window.open('../web/detail_1596.html'));">
									<img class="similar_pic" src="http://cj.bavlo.com/web/image01/big.gif" data-original="http://stylepics.bavlo.com/NewStylePic/Ring/1596/RightFront/1596_1273_S925_1272_Sapphire_2225.png!mid" width="180" height="150" alt="花与蝶"/>
									<span class="span1">花与蝶</span>
									<span>￥629.00元</span>
								</a>
							</div>
						
							
							<div class="List1pics">
								<a href="javaScript:void(window.open('../web/detail_81876.html'));">
									<img class="similar_pic" src="http://cj.bavlo.com/web/image01/big.gif" data-original="http://stylepics.bavlo.com/NewStylePic/Ring/81876/RightFront/81876_11082_S925_11083_CZ_3484.png!mid" width="180" height="150" alt=""/>
									<span class="span1"></span>
									<span>￥639.00元</span>
								</a>
							</div>
						
					</div>
				</div>
				
			</div>
		
<div class="details" style="border-top:1px solid #ddd">
		<div class="info1">			
			<ul id="eben5">
					<li><a href="#eben5" class="tab">已购评论</a> </li>
					<li><a href="#eben">精美包装</a></li>
					<li><a href="#eben1">卓越品质</a></li>
					
						<li><a href="#eben6">测量手寸</a></li>
					
					<li><a href="#eben2">售后服务</a></li>
					<li><a href="#eben3">付款方式</a></li>
					<li><a href="#eben4">配送方式</a></li>
			</ul>
			<div id="loadCommentarys">
				
			</div>	
			<ul id="eben">
					<li><a href="#eben5">已购评论</a></li>
					<li><a href="#eben" class="tab">精美包装</a></li>
					<li><a href="#eben1">卓越品质</a></li>
					
						<li><a href="#eben6">测量手寸</a></li>
					
					<li><a href="#eben2">售后服务</a></li>
					<li><a href="#eben3">付款方式</a></li>
					<li><a href="#eben4">配送方式</a></li>
			</ul>
			<div class="about" style="width:959px">

			</div>
			 <ul id="eben1">
			 	<li><a href="#eben5">已购评论</a></li>
				<li><a href="#eben">精美包装</a></li>
				<li><a href="#eben1" class="tab">卓越品质</a></li>
				
						<li><a href="#eben6">测量手寸</a></li>
				
				<li><a href="#eben2">售后服务</a></li>
				<li><a href="#eben3">付款方式</a></li>
				<li><a href="#eben4">配送方式</a></li>
			</ul>




			</div>
	  
	  	<ul id="eben6">
			 	<li><a href="#eben5">已购评论</a></li>
				<li><a href="#eben">精美包装</a></li>
				<li><a href="#eben1">卓越品质</a></li>				
				<li><a href="#eben6" class="tab">测量手寸</a></li>				
				<li><a href="#eben2">售后服务</a></li>
				<li><a href="#eben3">付款方式</a></li>
				<li><a href="#eben4">配送方式</a></li>
	 	 </ul> 
	  	<div class="about" id="contid1">

		</div>
	  	      
	  <ul id="eben2">
	  		<li><a href="#eben5">已购评论</a></li>
			<li><a href="#eben">精美包装</a></li>
			<li><a href="#eben1" >卓越品质</a></li>
			
				<li><a href="#eben6">测量手寸</a></li>
			
			<li><a href="#eben2" class="tab">售后服务</a></li>
			<li><a href="#eben3" >付款方式</a></li>
			<li><a href="#eben4">配送方式</a></li>
	   </ul>
			<div class="about" >

			</div>
	   <ul id="eben3">
	   		<li><a href="#eben5">已购评论</a></li>
			<li><a href="#eben">精美包装</a></li>
			<li><a href="#eben1" >卓越品质</a></li>
			
				<li><a href="#eben6">测量手寸</a></li>
			
			<li><a href="#eben2" >售后服务</a></li>
			<li><a href="#eben3"  class="tab">付款方式</a></li>
			<li><a href="#eben4" >配送方式</a></li>
	   </ul>



</div>
</div>	
<!-- awddddddddddddddddddddd -->
		
</div>
<div class="search_diamond">	
</div>
<div class="gem_info">
		<div class="gem_info_le">
			<h6>钻石搜索</h6>
			<dl class="zsxz">
				<dt>颜色</dt>
				<dd class="xz_d">
					<li class="color" color="D">D</li>
					<li class="color" color="E">E</li>
					<li class="color" color="F">F</li>
					<li class="color" color="G">G</li>
					<li class="color" color="H">H</li>
					<li class="color" color="I">I</li>
					<li class="color" color="J">J</li>
					<li class="color" color="K">K</li>					   
				</dd>
			</dl>
			<dl class="zsxz">
				<dt>净度</dt>
				<dd class="crt_d">
					<li class="clarity" clarity="IF">IF</li>
					<li class="clarity" clarity="VVS1">VVS1</li>
					<li class="clarity" clarity="VVS2">VVS2</li>
					<li class="clarity" clarity="VS1">VS1</li>
					<li class="clarity" clarity="VS2">VS2</li>
					<li class="clarity" clarity="SI1">SI1</li>
					<li class="clarity" clarity="SI2">SI2</li>
					<li class="clarity" clarity="I1">I1</li>					 
				</dd>
			</dl>
			<dl class="zsxz">
				<dt>切工</dt>					   
				<dd class="xz_dd">
					<li class="cut" cut="EX">EX</li>
					<li class="cut" cut="VG">VG</li>
					<li class="cut" cut="G">G</li>
					<li class="cut" cut="F">F</li>
				</dd>
			</dl>
	        <dl class="xz_ri_dl">
				<dt>重量</dt>
				<dd>
					<div class="para">
						<div id="weight" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
											
						</div>
						<input class="input_le" id="weight_min" type="text" value="" readonly="readonly"/>
						<input class="input_ri" id="weight_max" type="text" value="" readonly="readonly"/>
					</div>
					<span class="dwjg">单位：克拉(ct)</span>
				</dd>
			</dl>
			<dl class="xz_ri_dl">
				<dt>价格</dt>
				<dd >
					<div class="para">
						<div id="price" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
								  
						</div>
						<input class="input_le" type="text" id="price_min" value="" readonly="readonly"/>
						<input class="input_ri" type="text" id="price_max" value="" readonly="readonly"/>
					</div>
					<span class="dwjg">单位：RMB元</span>
				</dd>
			</dl>
		</div>
		<div class="gem_info_ri">
			
		</div>	
	</div>	
</div>  <!--  //  detail_cen  -->
	<!--  //  center  -->
		<!-- 登录 -->
	
 
<div class="login" title="单击黑色区域，关闭登录窗口！">
    	<div class="login_t" id="login_t">
		<div class="w_442 left">
			<h3><span>会员登录</span></h3>
			<div class="side">
				<form action="../web/toCustomizedlogin" id="costomerLoginForm" method="post">
				<ul class="word">
					<li><label>E-mail：</label><input class="validate[custom[email]] inp_text" type="text" name="username" id="Lusername" /></li>
					<li><label>密码：</label><input class="validate[required] inp_text" type="password" name="password" id="Lpassword"/><span id="msg1" style="color: red;float:right;"></span></li>
					<li><label>&nbsp;</label><span>
					<input class="inp_che" id="remember" type="checkbox" value=""/>记住密码</span><input class="inp_sub" id="loginBtn" type="submit" value="登录" /></li>
				</ul>
				</form>
				<p class="forget">忘记密码？</p>
				<p>请在下面输入您的Email地址，然后点击“发送”按钮，我们立即把新密码发送到您的邮箱！</p>
				<form action="../web/forgetPwd" id="forgetPwdForm" method="post">
				<ul class="word redo">
					<li class="mail"><label>E-mail：</label><input class="validate[custom[email]] inp_text" name="email" id="email" type="text" /></li>
					<li><span id="error" style="color: red;margin-left: 20px;"></span><input class="inp_sub" type="submit" value="发送" /></li>
				</ul>
				</form>
			</div>
		</div>
		<div class="w_442 new right">
			<h3><span>新用户注册</span></h3>
			<div class="pass">
				<form action="../web/registerCustomized" id="coustomerRegForm" method="post">
				<ul class="word">
					<li><label>E-mail：</label><input class="validate[custom[email]] inp_text" type="text" name="username" id="Rusername" /></li>
					<li><label>密码：</label><input class="validate[checkPassword] inp_text" type="password" name="password" id="Rpassword" /></li>
					<li><label>确认密码：</label><input class="validate[required,equals[Rpassword]] inp_text" type="password" id="ReRpassword" />
					<span id="msg2" style="color: red;float:right;"></span>
					</li>
					<li><label>验证码：</label><input class="validate[required] inp_text1" type="text" name="inputValidateCode" id="imageValidate" />
					<img id="validateImage" src="../web/imgValidate"  alt="请输入此验证码" onclick="refush($('#validateImage'))" />
					<a href="javaScript:refush($('#validateImage'))">换一张</a>
					</li>
					<span id="msg3" style="color: red;float:left;margin-left:112px;margin-top:5px;font-size:14px;"></span>
				</ul>
				<p class="forget least">密码由6-16个字符组成</p>
				<ul class="word redo">
					<li class="once"><input class="inp_sub  register" id="createCustomer" type="submit" value="立即注册" /></li>
				</ul>
				</form>
			</div>
		</div>
		</div>	
</div>
	
<div id="footer">
    <div class="guide">
        <ul class="g_1">
            <li><img src="http://cj.bavlo.com/web/image01/footer/a1.jpg" width="175px" height="38px" alt="贵州国检"/></li>
            <li><img src="http://cj.bavlo.com/web/image01/footer/a2.jpg" width="145px" height="38px" alt="快递无忧，全程保险保障"/></li>
            <li><img src="http://cj.bavlo.com/web/image01/footer/a3.jpg" width="145px" height="38px" alt="30天无障碍退换货"/></li>
            <li><img src="http://cj.bavlo.com/web/image01/footer/a4.jpg" width="108px" height="38px" alt="终身免费售后服务"/></li>
            <li class="phone"><img src="" width="195px" height="38px" alt="订购热线"/></li>
        </ul>
        <ul class="g_2">
            <li>
                <label>新手指南</label>

                <span><a href="../help/ringsize.html" target="_blank">如何确定手寸？</a></span>

            </li>

            <li>
                <label>支付与配送</label>
                <span><a href="../help/payment.html" target="_blank">支付方式</a></span>
                <span><a href="../help/delivery.html" target="_blank">配送方式</a></span>
            </li>

            <li>
                <label>售后服务</label>
                <span><a href="../help/returned_goods.html" target="_blank">退换货政策</a></span>
                <span><a href="../help/after_service.html" target="_blank">售后服务内容</a></span>
            </li>

            <li>
                <label>质量与信誉</label>
                <span><a href="../Education/Article_586.html" target="_blank">质量承诺</a></span>
                <span><a href="../Education/Article_594.html" target="_blank">质量规范</a></span>
                <span><a href="../Education/Article_590.html" target="_blank">珠易购资质与信誉</a></span>
            </li>

            <li>
                <label>客服中心</label>
                <span><a href="../help/shopping_guide.html" target="_blank">购物流程</a></span>
                <span><a href="../help/faq.html" target="_blank">常见问题</a></span>
                <span><a href="../help/contact.html" target="_blank">客服联系方式</a></span>
            </li>

            <li>
                <label>新闻中心</label>

                <span><a href="../Education/Article_234.html" target="_blank">珠宝定制须知</a></span>
            </li>

        </ul>
    </div>

    <div class="foot">
        <p class="b_r_t">
            <a href="../help/about_bavlo.html" target="_blank">关于珠易购</a>|
            <a href="../help/privacy_policy.html" target="_blank">隐私条款</a>|
            <a href="../help/copyright.html" target="_blank">版权声明</a>|
            <a href="../help/disclaimer.html" target="_blank">免责声明</a>|
            <a href="../help/join_us.html" target="_blank">经销招商</a>|
            <a href="../help/friend_link.html" target="_blank">友情链接</a>|
            <a href="../help/3d_jewelry.html" target="_blank">帮助中心</a>|
            <a href="http://www.miitbeian.gov.cn" rel="nofollow" target="_blank">黔ICP备1234567号</a>|
            <a href="#" rel="nofollow" target="_blank">黔公网安备111111111号</a>|
            <a href="../sitemap.xml" target="_blank">网站地图</a>
        </p>
        <p>Copyright © 2017-2019 ZHUYIGOU Jewelry DesignStudio All Right Reserved.</p>
    </div>
</div>
<div id="toolbar_container">
   <div class="kefu">
	   <div class="kefu1">
		   <div class="back"></div>
	   </div>
   </div>
</div>

</body>
<script language="javascript" type="text/javascript" src="/mobile_sample/static/src/js/jquery-1.7.2.min.js"></script>

<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery_cookie.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.validationEngine-zh_CN.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.validationEngine.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.form.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/jquery.lazyload.min.js"></script>
<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/json.min.js"></script>

<script language="javascript" type="text/javascript" src="http://cj.bavlo.com/web/js/kefu.js?version=7"></script>
<script language="javascript" type="text/javascript" src="http://www.bavlo.com/web/js/jquery.nouislider.js"></script>
<script language="javascript" type="text/javascript" src="http://www.bavlo.com/web/js/UnityObject.js?varsion=2"></script>
<script language="javascript" type="text/javascript" src="http://www.bavlo.com/web/js/UnityObject.js?varsion=2"></script>
<script language="javascript" type="text/javascript" src="http://www.bavlo.com/web/js/details.js?version=13"></script>


      
<script type="text/javascript" id="bdshare_js" data="type=tools&&uid=687943"></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
	var isMobile=false;//true; 
	var bds_config = {
	    'snsKey':{
	            'tsina':'709410795',
	            'qzone':'201293',
	            'tqq':'0e28d11e3e584e98aa0fe3eefd07576e',
	            'renren':'6c563d2a75e340739a6b1a8d53f47c29'
	        }
	    };
	document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
	var src="http://stylepics.bavlo.com/NewStylePic/Ring/82955/RightFront/82955_14586_W18K_14587_CZ_3471_14583_Diamond_21_14584_Diamond_17_14588_Diamond_9_14585_Diamond_5.png";
	var title = "[戒指]  金属：白18K金 宝石：人造锆 钻石 钻石 钻石 钻石 女款 | 宝珑网"; 
	var innerDimension="8.33,0.00,0.00,-0.00,0.00,1.00,0.00,-0.00,0.00,0.00,8.33,-0.00,0.00,0.00,0.00,1.00/16.65,2.00,16.65"; 
	var isClavicularChain="0";
	var minWeight=0.20;
	var maxWeight=5.00;
	var minPrice=1600;
	var maxPrice=200000;
	var diaParams={};
	diaParams.styleId="82955";
	diaParams.pageIndex=1;
	diaParams.orderTypeWt="asc";
	diaParams.orderTypePc="desc";
	function closeDiaList(){
		$(".search_diamond").hide();
		$(".gem_info").hide();
	}
	function loadDiyDia(){
		//$(".gem_info_ri").html("<img class='loading' src='http://cj.bavlo.com/web/images/list/listLoading.gif' alt='loading'/>");		
		diaParams.color="";
		$(".color_h").each(function(){		
			diaParams.color+=$(this).attr("color")+",";
		})
		diaParams.clarity="";
		$(".clarity_h").each(function(){
			diaParams.clarity+=$(this).attr("clarity")+",";
		})
		diaParams.cut="";
		$(".cut_h").each(function(){
			diaParams.cut+=$(this).attr("cut")+",";
		})		
		diaParams.minWeight=$("#weight_min").val();
		diaParams.maxWeight=$("#weight_max").val();
		diaParams.minPrice=$("#price_min").val();
		diaParams.maxPrice=$("#price_max").val();		
		$('.gem_info_ri').load('loadDiyDiaList',diaParams,  function() {
		});
	}	
	$(function(){
		$(".help_to_2d").click(function(){
			if(params.scene=="3D"){
				 switchBtnClick();
			 }	
		})
		var left=(document.body.offsetWidth-1001)/2;
		var top=(window.screen.availHeight-472)/2
		$(".gem_info").css('left',left);
		$(".gem_info").css('top',top);
		$(".color,.clarity,.cut,").click(function(){
			if($(this).attr("class").indexOf("_")==-1){
				$(this).attr("class",$(this).attr("class")+"_h");
			}else{
				$(this).attr("class",$(this).attr("class").replace("_h",""));
			}
			diaParams.pageIndex=1;
			loadDiyDia()
		})	
		$("#weight").noUiSlider({
			 range: [minWeight, maxWeight],
			 start: [minWeight, maxWeight],
			 connect: true,
			 serialization: {
				 mark: '.',
				 resolution: 0.01,
				 to: [ $("#weight_min"),$("#weight_max"),
					  [$('#value-span'), 'html'] ]
			},
			slide:function(){
				diaParams.pageIndex=1;
				loadDiyDia()
			}
			 
		});
		
		$("#price").noUiSlider({
			 range: [minPrice, maxPrice],
			 start: [minPrice, maxPrice],
			 connect: true,
			 serialization: {
				 mark: ',',
				 resolution: 1,
				 to: [ $("#price_min"),$("#price_max"),
					  [$('#value-span'), 'html'] ]
			},
			slide:function(){
				diaParams.pageIndex=1;
				loadDiyDia()
			}
			
		});
		 var trigger = null;
	    $('.q_3d').hover(function(){
	            trigger = setTimeout(function(){
	            	$(".help_3d").show();
	            },500);
	   	},function(){
	            clearTimeout(trigger);   //清除将要在1秒后执行的弹出框动作
	            $(".help_3d").hide()
	  	});
	})
</script>
</html>
